Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

Use the JoinRuleSettings component for the guest link access prompt.
  res/css/views/settings/_JoinRuleSettings.pcss
  src/components/views/rooms/RoomHeader/CallGuestLinkButton.tsx
  src/components/views/settings/JoinRuleSettings.tsx
  src/i18n/strings/de_DE.json
  src/i18n/strings/en_EN.json
Owners: @element-hq/element-web-reviewers

Set outputDir for fonts
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Add e2e tests
  playwright/e2e/share-dialog/index.ts
  playwright/e2e/share-dialog/share-dialog.spec.ts
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-event-linux.png
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-room-linux.png
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-user-linux.png
Owners: @element-hq/element-web-reviewers

Add `Close` tooltip to dialog
  src/components/views/dialogs/BaseDialog.tsx
Owners: @element-hq/element-web-reviewers

Use headed mode for Playwright
  .github/workflows/end-to-end-tests.yaml
  playwright.config.ts
  playwright/Dockerfile
  playwright/docker-entrypoint.sh
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Use `box-sizing` for social buttons
  res/css/views/dialogs/_ShareDialog.pcss
Owners: @element-hq/element-web-reviewers

Switch to new Chrome headless mode instead
  .github/workflows/end-to-end-tests.yaml
  playwright.config.ts
  playwright/Dockerfile
  playwright/docker-entrypoint.sh
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Update e2e tests
  playwright/e2e/share-dialog/index.ts
  playwright/e2e/share-dialog/share-dialog.spec.ts
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-event-linux.png
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-room-linux.png
Owners: @element-hq/element-web-reviewers

Update snapshots
  test/unit-tests/components/views/right_panel/__snapshots__/UserInfo-test.tsx.snap
  test/unit-tests/components/views/rooms/__snapshots__/RoomHeader-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Cache bust playwright browser install in CI
  .github/workflows/end-to-end-tests.yaml
Owners: @element-hq/element-web-team

New UX for Share dialog (#28598)
  playwright/e2e/share-dialog/share-dialog.spec.ts
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-event-linux.png
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-room-linux.png
  playwright/snapshots/share-dialog/share-dialog.spec.ts/share-dialog-user-linux.png
  res/css/_common.pcss
  res/css/views/dialogs/_ShareDialog.pcss
  src/components/views/context_menus/MessageContextMenu.tsx
  src/components/views/dialogs/ShareDialog.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/right_panel/UserInfo.tsx
  src/components/views/rooms/RoomHeader/CallGuestLinkButton.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/dialogs/ShareDialog-test.tsx
  test/unit-tests/components/views/dialogs/__snapshots__/ShareDialog-test.tsx.snap
  test/unit-tests/components/views/right_panel/RoomSummaryCard-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
  test/unit-tests/components/views/rooms/RoomHeader/CallGuestLinkButton-test.tsx
Owners: @element-hq/element-web-reviewers

Fix MSC2530 caption not showing with bubbles mode
  res/css/views/rooms/_EventBubbleTile.pcss
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28621)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Try with 22.04
  .github/workflows/end-to-end-tests.yaml
Owners: @element-hq/element-web-team

Review fixes
  src/components/views/dialogs/UntrustedDeviceDialog.tsx
  src/verification.ts
Owners: @element-hq/element-web-reviewers

Upgrade dependency to matrix-js-sdk@34.13.0
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

v1.11.87
  CHANGELOG.md
  package.json
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Reset matrix-js-sdk back to develop branch
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Fix deploy script by normalizing version string
  .github/actions/download-verify-element-tarball/action.yml
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Tag screenshot tests to speed up test:playwright:screenshot
  package.json
  playwright/e2e/app-loading/feature-detection.spec.ts
  playwright/e2e/audio-player/audio-player.spec.ts
  playwright/e2e/chat-export/html-export.spec.ts
  playwright/e2e/crypto/crypto.spec.ts
  playwright/e2e/editing/editing.spec.ts
  playwright/e2e/file-upload/image-upload.spec.ts
  playwright/e2e/forgot-password/forgot-password.spec.ts
  playwright/e2e/invite/invite-dialog.spec.ts
  playwright/e2e/messages/messages.spec.ts
  playwright/e2e/permalinks/permalinks.spec.ts
  playwright/e2e/pinned-messages/pinned-messages.spec.ts
  playwright/e2e/polls/polls.spec.ts
  playwright/e2e/register/email.spec.ts
  playwright/e2e/register/register.spec.ts
  playwright/e2e/release-announcement/releaseAnnouncement.spec.ts
  playwright/e2e/right-panel/file-panel.spec.ts
  playwright/e2e/right-panel/notification-panel.spec.ts
  playwright/e2e/right-panel/right-panel.spec.ts
  playwright/e2e/room-directory/room-directory.spec.ts
  playwright/e2e/room/room-header.spec.ts
  playwright/e2e/settings/account-user-settings-tab.spec.ts
  playwright/e2e/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts
  playwright/e2e/settings/appearance-user-settings-tab/message-layout-panel.ts
  playwright/e2e/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts
  playwright/e2e/settings/general-room-settings-tab.spec.ts
  playwright/e2e/settings/preferences-user-settings-tab.spec.ts
  playwright/e2e/settings/security-user-settings-tab.spec.ts
  playwright/e2e/share-dialog/share-dialog.spec.ts
  playwright/e2e/spaces/spaces.spec.ts
  playwright/e2e/spaces/threads-activity-centre/threadsActivityCentre.spec.ts
  playwright/e2e/threads/threads.spec.ts
  playwright/e2e/timeline/timeline.spec.ts
  playwright/e2e/user-menu/user-menu.spec.ts
  playwright/e2e/user-onboarding/user-onboarding-new.spec.ts
  playwright/e2e/user-view/user-view.spec.ts
  playwright/e2e/widgets/layout.spec.ts
  playwright/element-web-test.ts
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Move rust-sdk wasm artifact into `bundles` directory
  scripts/deploy.py
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Add tests
  test/unit-tests/components/views/dialogs/UntrustedDeviceDialog-test.tsx
  test/unit-tests/components/views/dialogs/__snapshots__/UntrustedDeviceDialog-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Add `Close` tooltip to dialog (#28617)
  src/components/views/dialogs/BaseDialog.tsx
  test/unit-tests/components/views/right_panel/__snapshots__/UserInfo-test.tsx.snap
  test/unit-tests/components/views/rooms/__snapshots__/RoomHeader-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Fix doc
  src/components/views/dialogs/UntrustedDeviceDialog.tsx
Owners: @element-hq/element-web-reviewers

Remove manual device verification which is not supported by the new cryptography stack (#28588)
  src/SecurityManager.ts
  src/SlashCommands.tsx
  src/components/views/dialogs/ManualDeviceKeyVerificationDialog.tsx
  src/components/views/dialogs/UntrustedDeviceDialog.tsx
  src/hooks/useEncryptionStatus.ts
  src/i18n/strings/en_EN.json
  src/rageshake/submit-rageshake.ts
  src/utils/device/dehydration.ts
  src/verification.ts
  test/unit-tests/components/views/dialogs/ManualDeviceKeyVerificationDialog-test.tsx
  test/unit-tests/components/views/dialogs/UntrustedDeviceDialog-test.tsx
  test/unit-tests/components/views/dialogs/__snapshots__/ManualDeviceKeyVerificationDialog-test.tsx.snap
  test/unit-tests/components/views/dialogs/__snapshots__/UntrustedDeviceDialog-test.tsx.snap
  test/unit-tests/components/views/dialogs/security/ExportE2eKeysDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/ImportE2eKeysDialog-test.tsx
Owners: @element-hq/element-crypto-web-reviewers, @element-hq/element-web-reviewers

Fix TAC `should mark all threads as read` e2e test
  playwright/e2e/spaces/threads-activity-centre/index.ts
  playwright/e2e/spaces/threads-activity-centre/threadsActivityCentre.spec.ts
Owners: @element-hq/element-web-reviewers

Update js-sdk usages around Buffers to avoid needing Buffer polyfill
  package.json
  src/components/views/elements/crypto/VerificationQRCode.tsx
  src/components/views/right_panel/VerificationPanel.tsx
  src/utils/tokens/pickling.ts
  webpack.config.js
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Add more tags
  playwright/e2e/timeline/timeline.spec.ts
Owners: @element-hq/element-web-reviewers

Iterate
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Update test
  test/unit-tests/Lifecycle-test.ts
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/elements/crypto/VerificationQRCode-test.tsx
  test/unit-tests/components/views/right_panel/VerificationPanel-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  playwright/e2e/crypto/device-verification.spec.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/en_EN.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

Discard changes to src/i18n/strings/en_EN.json
  src/i18n/strings/en_EN.json
Owners: none

[create-pull-request] automated change (#28628)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Fix TAC `should mark all threads as read` e2e test (#28625)
  playwright/e2e/spaces/threads-activity-centre/index.ts
  playwright/e2e/spaces/threads-activity-centre/threadsActivityCentre.spec.ts
Owners: @element-hq/element-web-reviewers

Use specific import for bloom-filters to avoid Buffer dependency
  src/DecryptionFailureTracker.ts
Owners: @element-hq/element-web-reviewers

Tag screenshot tests to speed up test:playwright:screenshot (#28623)
  package.json
  playwright/e2e/app-loading/feature-detection.spec.ts
  playwright/e2e/audio-player/audio-player.spec.ts
  playwright/e2e/chat-export/html-export.spec.ts
  playwright/e2e/crypto/crypto.spec.ts
  playwright/e2e/editing/editing.spec.ts
  playwright/e2e/file-upload/image-upload.spec.ts
  playwright/e2e/forgot-password/forgot-password.spec.ts
  playwright/e2e/invite/invite-dialog.spec.ts
  playwright/e2e/messages/messages.spec.ts
  playwright/e2e/permalinks/permalinks.spec.ts
  playwright/e2e/pinned-messages/pinned-messages.spec.ts
  playwright/e2e/polls/polls.spec.ts
  playwright/e2e/register/email.spec.ts
  playwright/e2e/register/register.spec.ts
  playwright/e2e/release-announcement/releaseAnnouncement.spec.ts
  playwright/e2e/right-panel/file-panel.spec.ts
  playwright/e2e/right-panel/notification-panel.spec.ts
  playwright/e2e/right-panel/right-panel.spec.ts
  playwright/e2e/room-directory/room-directory.spec.ts
  playwright/e2e/room/room-header.spec.ts
  playwright/e2e/settings/account-user-settings-tab.spec.ts
  playwright/e2e/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts
  playwright/e2e/settings/appearance-user-settings-tab/message-layout-panel.ts
  playwright/e2e/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts
  playwright/e2e/settings/general-room-settings-tab.spec.ts
  playwright/e2e/settings/preferences-user-settings-tab.spec.ts
  playwright/e2e/settings/security-user-settings-tab.spec.ts
  playwright/e2e/share-dialog/share-dialog.spec.ts
  playwright/e2e/spaces/spaces.spec.ts
  playwright/e2e/spaces/threads-activity-centre/threadsActivityCentre.spec.ts
  playwright/e2e/threads/threads.spec.ts
  playwright/e2e/timeline/timeline.spec.ts
  playwright/e2e/user-menu/user-menu.spec.ts
  playwright/e2e/user-onboarding/user-onboarding-new.spec.ts
  playwright/e2e/user-view/user-view.spec.ts
  playwright/e2e/widgets/layout.spec.ts
  playwright/element-web-test.ts
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
