Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

Update tests
  test/unit-tests/components/views/context_menus/RoomGeneralContextMenu-test.tsx
  test/unit-tests/stores/RoomViewStore-test.ts
  test/unit-tests/stores/notifications/RoomNotificationState-test.ts
  test/unit-tests/utils/notifications-test.ts
Owners: @element-hq/element-web-reviewers

Fix media captions in bubble layout
  res/css/views/rooms/_EventBubbleTile.pcss
Owners: @element-hq/element-web-reviewers

Remove crypto eslint exception (#28228)
  .eslintrc.js
Owners: @element-hq/element-web-reviewers

Update src/components/views/settings/AvatarSetting.tsx
  src/components/views/settings/AvatarSetting.tsx
Owners: @element-hq/element-web-reviewers

Enable stylelint rule no-unknown-custom-properties (#28473)
  .stylelintrc.js
  package.json
  res/css/components/views/elements/_AppPermission.pcss
  res/css/structures/_RoomView.pcss
  res/css/structures/_SpaceRoomView.pcss
  res/css/views/audio_messages/_PlaybackContainer.pcss
  res/css/views/audio_messages/_SeekBar.pcss
  res/css/views/elements/_ProgressBar.pcss
  res/css/views/rooms/_BasicMessageComposer.pcss
  res/css/views/rooms/_EventTile.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
  yarn.lock
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

prettier
  src/components/views/settings/AvatarSetting.tsx
Owners: @element-hq/element-web-reviewers

Update icon
  src/components/views/messages/MessageActionBar.tsx
Owners: @element-hq/element-web-reviewers

Start sending stable `m.marked_unread` events (#28478)
  src/utils/notifications.ts
  test/unit-tests/components/views/context_menus/RoomGeneralContextMenu-test.tsx
  test/unit-tests/stores/RoomViewStore-test.ts
  test/unit-tests/stores/notifications/RoomNotificationState-test.ts
  test/unit-tests/utils/notifications-test.ts
Owners: @element-hq/element-web-reviewers

Discard changes to res/css/structures/_RoomSearch.pcss
  res/css/structures/_RoomSearch.pcss
Owners: @element-hq/element-web-reviewers

Update snapshots
  test/unit-tests/components/views/beacon/__snapshots__/BeaconViewDialog-test.tsx.snap
  test/unit-tests/components/views/location/__snapshots__/LocationViewDialog-test.tsx.snap
  test/unit-tests/components/views/location/__snapshots__/Marker-test.tsx.snap
  test/unit-tests/components/views/location/__snapshots__/SmartMarker-test.tsx.snap
  test/unit-tests/components/views/messages/__snapshots__/MLocationBody-test.tsx.snap
  test/unit-tests/components/views/rooms/EventTile/__snapshots__/EventTileThreadToolbar-test.tsx.snap
  test/unit-tests/components/views/settings/tabs/user/__snapshots__/SidebarUserSettingsTab-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Check that the file the user chose has a MIME type of `image/*` (#28467)
  src/components/views/elements/MiniAvatarUploader.tsx
  src/components/views/settings/AvatarSetting.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/elements/MiniAvatarUploader-test.tsx
  test/unit-tests/components/views/settings/AvatarSetting-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/spaces/QuickSettingsButton.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  res/css/structures/_UserMenu.pcss
  res/css/views/elements/_CopyableText.pcss
  src/components/views/messages/MessageActionBar.tsx
Owners: @element-hq/element-web-reviewers

Discard changes to res/fonts/Open_Sans/LICENSE.txt
  res/fonts/Open_Sans/LICENSE.txt
Owners: @element-hq/element-web-reviewers

Discard changes to res/css/views/elements/_CopyableText.pcss
  res/css/views/elements/_CopyableText.pcss
Owners: @element-hq/element-web-reviewers

Iterate
  playwright/snapshots/polls/polls.spec.ts/Polls-Timeline-tile-no-votes-linux.png
  playwright/snapshots/room-directory/room-directory.spec.ts/filtered-no-results-linux.png
  playwright/snapshots/room-directory/room-directory.spec.ts/filtered-one-result-linux.png
  playwright/snapshots/user-menu/user-menu.spec.ts/user-menu-linux.png
  res/css/views/messages/_MessageActionBar.pcss
Owners: @element-hq/element-web-reviewers

Handle loading state
  src/components/views/room_settings/UrlPreviewSettings.tsx
  test/unit-tests/components/views/room_settings/UrlPreviewSettings-test.tsx
  test/unit-tests/components/views/room_settings/__snapshots__/UrlPreviewSettings-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/elements/AppTile-test.tsx
  test/unit-tests/components/views/elements/__snapshots__/AppTile-test.tsx.snap
  test/unit-tests/vector/__snapshots__/init-test.ts.snap
  test/unit-tests/vector/init-test.ts
Owners: @element-hq/element-web-reviewers

apply changes from review and switch to using counter for detecting races
  src/components/views/rooms/UserIdentityWarning.tsx
Owners: @element-hq/element-web-reviewers

Listen to events so that encryption icon updates when status changes (#28407)
  src/hooks/useEncryptionStatus.ts
  test/unit-tests/components/views/rooms/RoomHeader-test.tsx
Owners: @element-hq/element-web-reviewers

fix unit test
  test/unit-tests/SecurityManager-test.ts
Owners: @element-hq/element-web-reviewers

Reset cross-signing before backup when resetting both (#28402)
  src/SecurityManager.ts
  src/async-components/views/dialogs/security/CreateSecretStorageDialog.tsx
  src/components/views/dialogs/security/AccessSecretStorageDialog.tsx
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  src/stores/SetupEncryptionStore.ts
  test/unit-tests/SecurityManager-test.ts
  test/unit-tests/components/views/dialogs/AccessSecretStorageDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/CreateSecretStorageDialog-test.tsx
  test/unit-tests/stores/SetupEncryptionStore-test.ts
Owners: @element-hq/element-crypto-web-reviewers, @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28489)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

First batch: Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` (#28242)
  src/DeviceListener.ts
  src/Searching.ts
  src/SlidingSyncManager.ts
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/ReportEventDialog.tsx
  src/components/views/dialogs/devtools/RoomNotifications.tsx
  src/components/views/messages/EncryptionEvent.tsx
  src/utils/arrays.ts
  src/utils/crypto/shouldSkipSetupEncryption.ts
  test/test-utils/client.ts
  test/unit-tests/DeviceListener-test.ts
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/structures/MessagePanel-test.tsx
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/views/messages/EncryptionEvent-test.tsx
  test/unit-tests/utils/arrays-test.ts
Owners: @element-hq/element-web-reviewers

Fix media captions in bubble layout (#28480)
  res/css/views/rooms/_EventBubbleTile.pcss
Owners: @element-hq/element-web-reviewers

Upgrade dependency to matrix-js-sdk@34.12.0
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

v1.11.86
  CHANGELOG.md
  package.json
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Reset matrix-js-sdk back to develop branch
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Reverse `MemberListStore.loadMembers` condition
  src/stores/MemberListStore.ts
Owners: @element-hq/element-web-reviewers

Add reject doc to `asyncFilter`
  src/utils/arrays.ts
Owners: @element-hq/element-web-reviewers

Display permission section only after `isEncrypted` is computed
  src/components/views/settings/tabs/room/RolesRoomSettingsTab.tsx
  test/unit-tests/components/views/settings/tabs/room/RolesRoomSettingsTab-test.tsx
Owners: @element-hq/element-web-reviewers

Remove async for `ScalarMessaging.ts`
  src/ScalarMessaging.ts
Owners: @element-hq/element-web-reviewers

Display composer only after `isEncrypted` is computed
  src/components/views/rooms/SendMessageComposer.tsx
  test/unit-tests/components/views/rooms/MessageComposer-test.tsx
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Enable element call by default on sample config
  config.sample.json
Owners: @element-hq/element-web-reviewers

Revert "Display composer only after `isEncrypted` is computed"
  src/components/views/rooms/SendMessageComposer.tsx
  test/unit-tests/components/views/rooms/MessageComposer-test.tsx
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Revert "Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `SendMessageComposer.tsx`"
  src/components/views/rooms/SendMessageComposer.tsx
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

change string used for shield message
  playwright/e2e/crypto/event-shields.spec.ts
  src/components/views/rooms/EventTile.tsx
  src/i18n/strings/en_EN.json
Owners: @element-hq/element-web-reviewers

fix test
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
