Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Fix types
  src/components/views/messages/MPollEndBody.tsx
  src/components/views/settings/EventIndexPanel.tsx
  test/unit-tests/components/views/settings/SetIntegrationManager-test.tsx
Owners: @element-hq/element-web-reviewers

Fix types
  test/unit-tests/linkify-matrix-test.ts
Owners: @element-hq/element-web-reviewers

Iterate
  src/rageshake/rageshake.ts
Owners: @element-hq/element-web-reviewers

Iterate
  src/vector/platform/WebPlatform.ts
  test/unit-tests/utils/device/parseUserAgent-test.ts
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in RoomView (#28278)
  playwright/e2e/crypto/decryption-failure-messages.spec.ts
  src/components/structures/RoomView.tsx
  src/contexts/RoomContext.ts
  test/test-utils/room.ts
  test/test-utils/test-utils.ts
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/structures/__snapshots__/RoomView-test.tsx.snap
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change
  src/i18n/strings/en_EN.json
  src/i18n/strings/fr.json
Owners: none

Improve performance of RoomContext in RoomHeader
  src/components/structures/FilePanel.tsx
  src/components/structures/NotificationPanel.tsx
  src/components/structures/RoomSearchView.tsx
  src/components/structures/RoomView.tsx
  src/components/structures/ThreadPanel.tsx
  src/components/structures/ThreadView.tsx
  src/components/structures/WaitingForThirdPartyRoomView.tsx
  src/components/views/avatars/BaseAvatar.tsx
  src/components/views/context_menus/WidgetContextMenu.tsx
  src/components/views/elements/MiniAvatarUploader.tsx
  src/components/views/messages/RoomPredecessorTile.tsx
  src/components/views/right_panel/PinnedMessagesCard.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/right_panel/TimelineCard.tsx
  src/components/views/rooms/HistoryTile.tsx
  src/components/views/rooms/MessageComposerButtons.tsx
  src/components/views/rooms/NewRoomIntro.tsx
  src/components/views/rooms/RoomHeader.tsx
  src/components/views/rooms/ThreadSummary.tsx
  src/components/views/rooms/wysiwyg_composer/components/Emoji.tsx
  src/components/views/rooms/wysiwyg_composer/components/WysiwygAutocomplete.tsx
  src/components/views/rooms/wysiwyg_composer/components/WysiwygComposer.tsx
  src/components/views/rooms/wysiwyg_composer/hooks/useEditing.ts
  src/components/views/rooms/wysiwyg_composer/hooks/useInitialContent.ts
  src/components/views/rooms/wysiwyg_composer/hooks/useInputEventProcessor.ts
  src/components/views/rooms/wysiwyg_composer/hooks/usePlainTextListeners.ts
  src/components/views/rooms/wysiwyg_composer/hooks/useWysiwygEditActionHandler.ts
  src/components/views/rooms/wysiwyg_composer/hooks/useWysiwygSendActionHandler.ts
  src/components/views/rooms/wysiwyg_composer/hooks/utils.ts
  src/components/views/rooms/wysiwyg_composer/utils/editing.ts
  src/components/views/rooms/wysiwyg_composer/utils/event.ts
  src/components/views/rooms/wysiwyg_composer/utils/message.ts
  src/contexts/RoomContext.ts
  src/contexts/ScopedRoomContext.tsx
  src/hooks/room/useRoomMemberProfile.ts
Owners: @element-hq/element-web-reviewers

Fix workflow permissions
  .github/workflows/pull_request.yaml
Owners: @element-hq/element-web-team

Add linter exception
  src/rageshake/rageshake.ts
Owners: @element-hq/element-web-reviewers

Update tests
  test/unit-tests/SupportedBrowser-test.ts
Owners: @element-hq/element-web-reviewers

Switch to Ubuntu 24.04
  .github/workflows/end-to-end-tests.yaml
Owners: @element-hq/element-web-team

[create-pull-request] automated change (#28573)
  src/i18n/strings/en_EN.json
  src/i18n/strings/fr.json
Owners: none

[create-pull-request] automated change (#28572)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Use `roomContext.isRoomEncrypted`
  src/components/views/rooms/EventTile.tsx
  test/unit-tests/components/views/dialogs/ForwardDialog-test.tsx
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

Discard changes to res/themes/dark/css/dark.pcss
  res/themes/dark/css/dark.pcss
Owners: @element-hq/element-web-reviewers

Discard changes to res/themes/legacy-light/css/_fonts.pcss
  res/themes/legacy-light/css/_fonts.pcss
Owners: @element-hq/element-web-reviewers

Discard changes to res/themes/light-high-contrast/css/light-high-contrast.pcss
  res/themes/light-high-contrast/css/light-high-contrast.pcss
Owners: @element-hq/element-web-reviewers

Discard changes to res/themes/light/css/light.pcss
  res/themes/light/css/light.pcss
Owners: @element-hq/element-web-reviewers

Update tests
  test/unit-tests/components/structures/MessagePanel-test.tsx
  test/unit-tests/components/structures/ThreadPanel-test.tsx
  test/unit-tests/components/structures/ThreadView-test.tsx
  test/unit-tests/components/views/audio_messages/RecordingPlayback-test.tsx
  test/unit-tests/components/views/avatars/MemberAvatar-test.tsx
  test/unit-tests/components/views/context_menus/MessageContextMenu-test.tsx
  test/unit-tests/components/views/messages/MFileBody-test.tsx
  test/unit-tests/components/views/messages/MessageActionBar-test.tsx
  test/unit-tests/components/views/messages/RoomPredecessorTile-test.tsx
  test/unit-tests/components/views/right_panel/RoomSummaryCard-test.tsx
  test/unit-tests/components/views/rooms/EditMessageComposer-test.tsx
  test/unit-tests/components/views/rooms/EventTile-test.tsx
  test/unit-tests/components/views/rooms/MessageComposer-test.tsx
  test/unit-tests/components/views/rooms/MessageComposerButtons-test.tsx
  test/unit-tests/components/views/rooms/NewRoomIntro-test.tsx
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/EditWysiwygComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/SendWysiwygComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/components/PlainTextComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/components/WysiwygAutocomplete-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/components/WysiwygComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Add source-map-loader for easier debugging
  package.json
  webpack.config.js
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Prettier
  src/components/structures/RoomView.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/contexts/ScopedRoomContext.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/EditWysiwygComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Add source-map-loader for easier debugging (#28580)
  package.json
  webpack.config.js
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Check room encryption earlier
  src/components/structures/RoomView.tsx
Owners: @element-hq/element-web-reviewers

Apply release blocker checks to cut branches workflow (#28551)
  .github/workflows/release_prepare.yml
Owners: @element-hq/element-web-team

Add Modernizr warning when running in non-secure context
  src/vector/index.ts
Owners: @element-hq/element-web-reviewers

Remove `Features.RustCrypto`
  src/MatrixClientPeg.ts
  src/settings/Settings.tsx
  test/unit-tests/MatrixClientPeg-test.ts
Owners: @element-hq/element-web-reviewers

Add Modernizr warning when running in non-secure context (#28581)
  src/vector/index.ts
Owners: @element-hq/element-web-reviewers

Check room encryption earlier (#28579)
  src/components/structures/RoomView.tsx
Owners: @element-hq/element-web-reviewers

Remove redundant MSC implementation for io.element.rendezvous
  src/components/views/auth/LoginWithQR.tsx
  src/components/views/settings/devices/LoginWithQRSection.tsx
  src/components/views/settings/tabs/user/SessionManagerTab.tsx
  test/unit-tests/components/views/settings/devices/LoginWithQRSection-test.tsx
Owners: @element-hq/element-web-reviewers

Remove `Features.RustCrypto` (#28582)
  src/MatrixClientPeg.ts
  src/settings/Settings.tsx
  test/unit-tests/MatrixClientPeg-test.ts
Owners: @element-hq/element-web-reviewers

Only feed state events to widgets if we believe they update the state
  src/stores/widgets/StopGapWidget.ts
Owners: @element-hq/element-web-reviewers

Set explicit matrix-js-sdk version
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Update js-sdk to match element-call
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Remove redundant MSC implementation for io.element.rendezvous (#28583)
  src/components/views/auth/LoginWithQR.tsx
  src/components/views/settings/devices/LoginWithQRSection.tsx
  src/components/views/settings/tabs/user/SessionManagerTab.tsx
  test/unit-tests/components/views/settings/devices/LoginWithQRSection-test.tsx
Owners: @element-hq/element-web-reviewers

add feature flag for "Leave Space"
  src/components/views/spaces/SpaceSettingsGeneralTab.tsx
  src/settings/Settings.tsx
  src/settings/UIFeature.ts
Owners: @element-hq/element-web-reviewers

Replace usage of deprecated crypto events
  src/hooks/useEncryptionStatus.ts
Owners: @element-hq/element-web-reviewers

Remove call of `MatrixClient.setDeviceVerified`
  src/SlashCommands.tsx
  src/components/views/dialogs/ManualDeviceKeyVerificationDialog.tsx
  src/i18n/strings/en_EN.json
  src/verification.ts
  test/unit-tests/components/views/dialogs/ManualDeviceKeyVerificationDialog-test.tsx
  test/unit-tests/components/views/dialogs/__snapshots__/ManualDeviceKeyVerificationDialog-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Replace deprecated imports
  src/SecurityManager.ts
  src/rageshake/submit-rageshake.ts
  src/utils/device/dehydration.ts
  test/unit-tests/components/views/dialogs/security/ExportE2eKeysDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/ImportE2eKeysDialog-test.tsx
Owners: @element-hq/element-crypto-web-reviewers, @element-hq/element-web-reviewers
