Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

[create-pull-request] automated change (#28119)
  res/jitsi_external_api.min.js
Owners: @element-hq/element-web-reviewers

Update @matrix-org/analytics-events
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Specify a local address when exposing ports with Docker
  docs/install.md
Owners: @element-hq/element-web-reviewers

Provide and explain docker run examples with and without confinement to localhost
  docs/install.md
Owners: @element-hq/element-web-reviewers

Update README.md
  docs/install.md
Owners: @element-hq/element-web-reviewers

Clean up the OpenSans license file
  res/fonts/Open_Sans/LICENSE.txt
Owners: @element-hq/element-web-reviewers

Add dialog to display detailed votes
  src/components/views/dialogs/PollResultsDialog.tsx
  src/components/views/messages/MPollBody.tsx
Owners: @element-hq/element-web-reviewers

Refactor PollResultsDialog
  src/components/views/dialogs/PollResultsDialog.tsx
Owners: @element-hq/element-web-reviewers

Move styling of results dialog to css
  res/css/_components.pcss
  res/css/components/views/dialogs/polls/_PollResultsDialog.pcss
  src/components/views/dialogs/PollResultsDialog.tsx
Owners: @element-hq/element-web-reviewers

Show text using i18n and modify existing usages
  src/components/views/dialogs/PollResultsDialog.tsx
  src/i18n/strings/en_EN.json
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

[create-pull-request] automated change (#28359)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28360)
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

Fix existing tests but 3
  src/components/views/messages/MPollBody.tsx
  src/components/views/polls/PollOption.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/messages/MPollBody-test.tsx
  test/unit-tests/components/views/messages/__snapshots__/MPollBody-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Extract EventPreview from PinnedMessageBanner
  res/css/_components.pcss
  res/css/views/rooms/_EventPreview.pcss
  res/css/views/rooms/_PinnedMessageBanner.pcss
  src/components/views/rooms/EventPreview.tsx
  src/components/views/rooms/PinnedMessageBanner.tsx
  src/i18n/strings/en_EN.json
Owners: @element-hq/element-web-reviewers

Fix remaining existing tests
  src/components/views/messages/MPollBody.tsx
  test/unit-tests/components/views/messages/MPollBody-test.tsx
Owners: @element-hq/element-web-reviewers

Show message type prefix in thread root previews
  src/components/views/rooms/EventTile.tsx
Owners: @element-hq/element-web-reviewers

Move poll option styling to css file
  res/css/components/views/polls/_PollOption.pcss
  src/components/views/polls/PollOption.tsx
Owners: @element-hq/element-web-reviewers

Add test that dialog is opened when totalVotes are clicked
  test/unit-tests/components/views/messages/MPollBody-test.tsx
Owners: @element-hq/element-web-reviewers

Reapply "Enable React StrictMode (#28258)"
  src/Modal.tsx
  src/components/views/elements/PersistedElement.tsx
  src/components/views/messages/TextualBody.tsx
  src/utils/pillify.tsx
  src/utils/tooltipify.tsx
  src/vector/app.tsx
  src/vector/init.tsx
Owners: @element-hq/element-web-reviewers

Specify a local address when exposing ports with Docker (#20891)
  docs/install.md
Owners: @element-hq/element-web-reviewers

Fix markdown escaping wrongly passing html through
  src/Markdown.ts
  test/unit-tests/editor/serialize-test.ts
Owners: @element-hq/element-web-reviewers

Iterate
  src/dispatcher/dispatcher.ts
  src/settings/SettingsStore.ts
Owners: @element-hq/element-web-reviewers

Remove boilerplate around dispatcher and settings watchers (#28338)
  src/DeviceListener.ts
  src/PosthogAnalytics.ts
  src/Presence.ts
  src/components/structures/EmbeddedPage.tsx
  src/components/structures/LoggedInView.tsx
  src/components/structures/ThreadView.tsx
  src/components/structures/UserMenu.tsx
  src/components/views/dialogs/RoomSettingsDialog.tsx
  src/components/views/elements/AppTile.tsx
  src/components/views/messages/DateSeparator.tsx
  src/components/views/messages/MImageBody.tsx
  src/components/views/messages/MVideoBody.tsx
  src/components/views/right_panel/TimelineCard.tsx
  src/components/views/rooms/AppsDrawer.tsx
  src/components/views/rooms/MessageComposer.tsx
  src/components/views/rooms/RoomList.tsx
  src/components/views/rooms/RoomSublist.tsx
  src/components/views/rooms/RoomTile.tsx
  src/components/views/rooms/Stickerpicker.tsx
  src/components/views/settings/FontScalingPanel.tsx
  src/components/views/settings/IntegrationManager.tsx
  src/components/views/settings/SetIdServer.tsx
  src/components/views/settings/tabs/user/SecurityUserSettingsTab.tsx
  src/components/views/voip/LegacyCallView.tsx
  src/dispatcher/dispatcher.ts
  src/mjolnir/Mjolnir.ts
  src/models/Call.ts
  src/settings/SettingsStore.ts
  src/settings/watchers/FontWatcher.ts
  src/settings/watchers/ThemeWatcher.ts
  src/stores/AsyncStore.ts
  src/stores/AsyncStoreWithClient.ts
  src/stores/OwnBeaconStore.ts
  src/stores/ReadyWatchingStore.ts
  src/stores/widgets/WidgetLayoutStore.ts
  test/unit-tests/DeviceListener-test.ts
Owners: @element-hq/element-web-reviewers

Show message type prefix in thread reply preview
  src/components/views/rooms/EventPreview.tsx
  src/components/views/rooms/ThreadSummary.tsx
Owners: @element-hq/element-web-reviewers

Update tests
  test/test-utils/threads.ts
  test/unit-tests/components/views/rooms/PinnedMessageBanner-test.tsx
  test/unit-tests/components/views/rooms/__snapshots__/PinnedMessageBanner-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/structures/auth/CompleteSecurity.tsx
  src/components/structures/auth/SetupEncryptionBody.tsx
  src/components/views/elements/AppTile.tsx
  src/components/views/settings/tabs/room/AdvancedRoomSettingsTab.tsx
  test/unit-tests/components/views/settings/CryptographyPanel-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/async-components/views/dialogs/security/CreateSecretStorageDialog.tsx
Owners: @element-hq/element-crypto-web-reviewers

[create-pull-request] automated change
  src/i18n/strings/nl.json
Owners: none

[create-pull-request] automated change (#28372)
  src/i18n/strings/nl.json
Owners: none

Remove unused Security customisations module (#28350)
  docs/customisations.md
  src/customisations/Security.ts
Owners: @element-hq/element-web-reviewers

Show developer jump to event button on all events with associations (#28351)
  src/components/views/context_menus/MessageContextMenu.tsx
Owners: @element-hq/element-web-reviewers

Wire up analytics for Legacy/EC/Jitsi voip options (#28348)
  package.json
  src/components/views/rooms/RoomHeader.tsx
  src/hooks/room/useRoomCall.tsx
  src/utils/room/placeCall.ts
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Add comment
  src/Markdown.ts
Owners: @element-hq/element-web-reviewers

Fix markdown escaping wrongly passing html through (#28363)
  src/Markdown.ts
  test/unit-tests/editor/serialize-test.ts
Owners: @element-hq/element-web-reviewers

Switch ModalManager to the React 18 createRoot API (#28336)
  src/Modal.tsx
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/structures/auth/ForgotPassword-test.tsx
  test/unit-tests/components/views/dialogs/ConfirmRedactDialog-test.tsx
  test/unit-tests/components/views/messages/DateSeparator-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/message-test.ts
  test/unit-tests/components/views/settings/JoinRuleSettings-test.tsx
  test/unit-tests/components/views/settings/tabs/user/SessionManagerTab-test.tsx
  test/unit-tests/utils/media/requestMediaPermissions-test.tsx
Owners: @element-hq/element-web-reviewers

Update the display of decryption failures due to failed trust requirement (#28300)
  playwright/e2e/crypto/invisible-crypto.spec.ts
  res/css/views/messages/_DecryptionFailureBody.pcss
  src/components/views/messages/DecryptionFailureBody.tsx
  src/components/views/rooms/EventTile.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/messages/DecryptionFailureBody-test.tsx
  test/unit-tests/components/views/messages/__snapshots__/DecryptionFailureBody-test.tsx.snap
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/messages/MPollBody-test.tsx
Owners: @element-hq/element-web-reviewers

Ignore `m.3pid_changes` for Identity service 3PID changes
  src/components/views/settings/discovery/DiscoverySettings.tsx
Owners: @element-hq/element-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
