Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Fix format bar position
  src/components/views/rooms/MessageComposerFormatBar.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28586)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Remove legacy button in `UntrustedDeviceDialog`
  src/components/views/dialogs/UntrustedDeviceDialog.tsx
  src/i18n/strings/en_EN.json
Owners: @element-hq/element-web-reviewers

Update `JoinRuleDialog` labels
  src/i18n/strings/en_EN.json
Owners: none

Fix format bar position (#28591)
  src/components/views/rooms/MessageComposerFormatBar.tsx
Owners: @element-hq/element-web-reviewers

Add new ShareDialog
  res/css/views/dialogs/_ShareDialog.pcss
  src/components/views/dialogs/ShareDialog.tsx
  src/components/views/rooms/RoomHeader/CallGuestLinkButton.tsx
  test/unit-tests/components/views/dialogs/ShareDialog-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28600)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

#28285 issue: Update _EventTile.pcss
  res/css/views/rooms/_EventTile.pcss
Owners: @element-hq/element-web-reviewers

WIP
  package.json
  res/css/_components.pcss
  res/css/views/messages/_DisambiguatedProfile.pcss
  res/css/views/rooms/_MemberList.pcss
  res/css/views/rooms/_MemberListHeaderView.pcss
  res/css/views/rooms/_MemberListView.pcss
  res/css/views/rooms/_MemberTileView.pcss
  res/css/views/rooms/_OverflowTile.pcss
  res/css/views/rooms/_PresenceLabel.pcss
  src/components/structures/MainSplit.tsx
  src/components/structures/RightPanel.tsx
  src/components/viewmodels/MemberListViewModel.tsx
  src/components/viewmodels/MemberTileViewModel.tsx
  src/components/views/avatars/MemberAvatarView.tsx
  src/components/views/dialogs/ForwardDialog.tsx
  src/components/views/messages/DisambiguatedProfile.tsx
  src/components/views/rooms/E2EIconView.tsx
  src/components/views/rooms/MemberListHeaderView.tsx
  src/components/views/rooms/MemberListView.tsx
  src/components/views/rooms/MemberTileView.tsx
  src/components/views/rooms/OverflowTileView.tsx
  src/components/views/rooms/PresenceIconView.tsx
  src/models/rooms/AvatarThumbnailData.ts
  src/models/rooms/PresenceState.ts
  src/models/rooms/RoomMember.ts
  src/models/rooms/ThreePIDInvite.ts
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Add comment
  src/contexts/ScopedRoomContext.tsx
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/stores/right-panel/RightPanelStore-test.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  src/i18n/strings/de_DE.json
  src/i18n/strings/en_EN.json
Owners: none

Discard changes to src/i18n/strings/en_EN.json
  src/i18n/strings/en_EN.json
Owners: none

Remove remaining reply fallbacks code
  src/components/views/rooms/EditMessageComposer.tsx
  src/components/views/rooms/SendMessageComposer.tsx
  src/components/views/rooms/wysiwyg_composer/utils/createMessageContent.ts
Owners: @element-hq/element-web-reviewers

Localazy Download (#28608)
  src/i18n/strings/de_DE.json
Owners: none

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `EventTile.tsx` (#28510)
  src/components/views/rooms/EventTile.tsx
  test/test-utils/test-utils.ts
  test/unit-tests/components/views/dialogs/ForwardDialog-test.tsx
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/structures/SpaceRoomView-test.tsx
  test/unit-tests/components/structures/__snapshots__/RoomView-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Update tests
  test/unit-tests/components/views/rooms/EditMessageComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/EditWysiwygComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/createMessageContent-test.ts
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/message-test.ts
Owners: @element-hq/element-web-reviewers

Fix release-checks to not use reserved name GITHUB_TOKEN
  .github/workflows/release_prepare.yml
Owners: @element-hq/element-web-team

Provide a way to activate GIFs via the keyboard for a11y
  src/components/views/messages/MImageBody.tsx
Owners: @element-hq/element-web-reviewers

Remove dead code
  src/components/views/messages/MImageBody.tsx
Owners: @element-hq/element-web-reviewers

Remove unused scripts
  scripts/copy-i18n.py
  scripts/fetch-develop.deps.sh
  scripts/genflags.sh
Owners: @element-hq/element-web-reviewers

Fix code block highlighting not working reliably with many code blocks
  src/components/views/messages/TextualBody.tsx
  src/utils/react.tsx
Owners: @element-hq/element-web-reviewers

Remove remaining reply fallbacks code (#28610)
  src/components/views/rooms/EditMessageComposer.tsx
  src/components/views/rooms/SendMessageComposer.tsx
  src/components/views/rooms/wysiwyg_composer/utils/createMessageContent.ts
  test/unit-tests/components/views/rooms/EditMessageComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/EditWysiwygComposer-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/createMessageContent-test.ts
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/message-test.ts
Owners: @element-hq/element-web-reviewers

Provide a way to activate GIFs via the keyboard for a11y (#28611)
  src/components/views/messages/MImageBody.tsx
Owners: @element-hq/element-web-reviewers

Fix code block highlighting not working reliably with many code blocks (#28613)
  src/components/views/messages/TextualBody.tsx
  src/utils/react.tsx
Owners: @element-hq/element-web-reviewers

Remove unused scripts (#28612)
  scripts/copy-i18n.py
  scripts/fetch-develop.deps.sh
  scripts/genflags.sh
Owners: @element-hq/element-web-reviewers

Delabs native OIDC support
  src/components/structures/auth/Login.tsx
  src/components/structures/auth/Registration.tsx
  src/i18n/strings/en_EN.json
  src/settings/Settings.tsx
  test/unit-tests/components/structures/UserMenu-test.tsx
  test/unit-tests/components/structures/auth/Login-test.tsx
  test/unit-tests/components/structures/auth/Registration-test.tsx
Owners: @element-hq/element-web-reviewers

Secure backup prompt
  src/DeviceListener.ts
  src/i18n/strings/en_EN.json
  src/toasts/SetupEncryptionToast.ts
Owners: @element-hq/element-web-reviewers

New UX for `ShareDialog`
  res/css/_common.pcss
  res/css/views/dialogs/_ShareDialog.pcss
  src/components/views/dialogs/ShareDialog.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/dialogs/ShareDialog-test.tsx
Owners: @element-hq/element-web-reviewers

Use new named import
  src/components/views/context_menus/MessageContextMenu.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/right_panel/UserInfo.tsx
  src/components/views/rooms/RoomHeader/CallGuestLinkButton.tsx
  test/unit-tests/components/views/right_panel/RoomSummaryCard-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
  test/unit-tests/components/views/rooms/RoomHeader/CallGuestLinkButton-test.tsx
Owners: @element-hq/element-web-reviewers

Rewrite tests
  test/unit-tests/components/views/dialogs/ShareDialog-test.tsx
  test/unit-tests/components/views/dialogs/__snapshots__/ShareDialog-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Add mock
  test/test-utils/test-utils.ts
Owners: @element-hq/element-web-reviewers

Fix tests
  test/unit-tests/DeviceListener-test.ts
  test/unit-tests/components/structures/MatrixChat-test.tsx
Owners: @element-hq/element-web-reviewers

Discard changes to .github/workflows/end-to-end-tests.yaml
  .github/workflows/end-to-end-tests.yaml
Owners: @element-hq/element-web-team

Use new named import
  src/components/views/context_menus/MessageContextMenu.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/right_panel/UserInfo.tsx
  src/components/views/rooms/RoomHeader/CallGuestLinkButton.tsx
  test/unit-tests/components/views/right_panel/RoomSummaryCard-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
  test/unit-tests/components/views/rooms/RoomHeader/CallGuestLinkButton-test.tsx
Owners: @element-hq/element-web-reviewers

Rewrite tests
  test/unit-tests/components/views/dialogs/ShareDialog-test.tsx
  test/unit-tests/components/views/dialogs/__snapshots__/ShareDialog-test.tsx.snap
Owners: @element-hq/element-web-reviewers

New UX for `ShareDialog`
  res/css/_common.pcss
  res/css/views/dialogs/_ShareDialog.pcss
  src/components/views/dialogs/ShareDialog.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/dialogs/ShareDialog-test.tsx
Owners: @element-hq/element-web-reviewers
