Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `EventIndex.ts`
  src/async-components/views/dialogs/eventindex/ManageEventIndexDialog.tsx
  src/indexing/EventIndex.ts
  test/unit-tests/components/views/settings/EventIndexPanel-test.tsx
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `NewRoomIntro.tsx`
  src/components/views/rooms/NewRoomIntro.tsx
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/views/rooms/NewRoomIntro-test.tsx
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `MemberTile.tsx`
  src/components/views/rooms/MemberTile.tsx
  test/unit-tests/components/views/rooms/MemberList-test.tsx
  test/unit-tests/components/views/rooms/MemberTile-test.tsx
Owners: @element-hq/element-web-reviewers

Fix permissions
  .github/workflows/docs.yml
Owners: @element-hq/element-web-team

We have to explicitly specify github-token even though it is the default for this to work in theory
  .github/workflows/end-to-end-tests-netlify.yaml
  .github/workflows/netlify.yaml
Owners: @element-hq/element-web-team

Prettier
  src/SlidingSyncManager.ts
Owners: @element-hq/element-web-reviewers

prettier on tests too
  test/unit-tests/SlidingSyncManager-test.ts
Owners: @element-hq/element-web-reviewers

Switch away from deprecated github-status-action (#28514)
  .github/workflows/tests.yml
Owners: @element-hq/element-web-team

Review changes
  src/DeviceListener.ts
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  src/stores/SetupEncryptionStore.ts
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

fix test
  test/unit-tests/components/views/rooms/UserIdentityWarning-test.tsx
Owners: @element-hq/element-web-reviewers

Display a warning when an unverified user's identity changes (#28211)
  res/css/_components.pcss
  res/css/views/rooms/_UserIdentityWarning.pcss
  src/components/views/rooms/MessageComposer.tsx
  src/components/views/rooms/UserIdentityWarning.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/rooms/UserIdentityWarning-test.tsx
Owners: @element-hq/element-web-reviewers

Fix getOidcCallbackUrl for Element Desktop
  src/vector/platform/ElectronPlatform.tsx
Owners: @element-hq/element-web-reviewers

Fix getOidcCallbackUrl for Element Desktop (#28521)
  src/vector/platform/ElectronPlatform.tsx
Owners: @element-hq/element-web-reviewers

Update snapshots
  test/unit-tests/components/views/messages/__snapshots__/MPollBody-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Update PollEndBody tests
  test/unit-tests/components/views/messages/MPollEndBody-test.tsx
  test/unit-tests/components/views/messages/__snapshots__/MPollEndBody-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Fix formatting
  playwright/e2e/polls/polls.spec.ts
  res/css/components/views/dialogs/polls/_PollResultsDialog.pcss
  res/css/components/views/polls/_PollOption.pcss
  src/components/views/dialogs/PollResultsDialog.tsx
  src/components/views/messages/MPollBody.tsx
  src/components/views/polls/PollOption.tsx
  src/components/views/polls/pollHistory/PollListItemEnded.tsx
  test/unit-tests/components/views/messages/MPollBody-test.tsx
  test/unit-tests/components/views/messages/MPollEndBody-test.tsx
Owners: @element-hq/element-web-reviewers

Fix permissions in build_develop.yml
  .github/workflows/build_develop.yml
Owners: @element-hq/element-web-team

Update Poll Results Dialog Copyright
  src/components/views/dialogs/PollResultsDialog.tsx
Owners: @element-hq/element-web-reviewers

Send and respect MSC4230 is_animated flag (#28513)
  src/@types/matrix-js-sdk.d.ts
  src/ContentMessages.ts
  src/components/views/messages/MImageBody.tsx
  src/utils/image-media.ts
Owners: @element-hq/element-web-reviewers

Switch from deprecated cloudflare/pages-action to cloudflare/wrangler-action
  .github/workflows/deploy_develop.yml
Owners: @element-hq/element-web-team

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in RoomView
  src/components/structures/RoomView.tsx
  src/contexts/RoomContext.ts
  test/test-utils/test-utils.ts
  test/unit-tests/components/structures/RoomView-test.tsx
Owners: @element-hq/element-web-reviewers

Add `isRoomEncrypted` to room
  test/test-utils/room.ts
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Deploy app.element.io & staging.element.io via Github Actions
  .github/actions/download-verify-element-tarball/action.yml
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Iterate
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

Iterate
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28528)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Use `CryptoApi.getKeyBackupInfo` instead of deprecated `MatrixClient.getKeyBackupVersion` (#28450)
  src/DeviceListener.ts
  src/async-components/views/dialogs/security/CreateSecretStorageDialog.tsx
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/LogoutDialog.tsx
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  src/stores/SetupEncryptionStore.ts
  test/test-utils/client.ts
  test/test-utils/test-utils.ts
  test/unit-tests/DeviceListener-test.ts
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/views/dialogs/LogoutDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/CreateSecretStorageDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/RestoreKeyBackupDialog-test.tsx
  test/unit-tests/components/views/settings/SecureBackupPanel-test.tsx
  test/unit-tests/components/views/settings/tabs/user/SecurityUserSettingsTab-test.tsx
  test/unit-tests/stores/SetupEncryptionStore-test.ts
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

Simplify - this check is done by the Environment protection
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

Deploy app.element.io & staging.element.io via Github Actions (#28525)
  .github/actions/download-verify-element-tarball/action.yml
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Add spinner when room encryption is loading in room settings
  src/components/views/settings/tabs/room/SecurityRoomSettingsTab.tsx
  test/unit-tests/components/views/settings/tabs/room/SecurityRoomSettingsTab-test.tsx
Owners: @element-hq/element-web-reviewers

Remove space-specific right panel store handling
  src/components/structures/RightPanel.tsx
  src/components/structures/RoomView.tsx
  src/components/structures/SpaceRoomView.tsx
  src/components/structures/UserView.tsx
  src/components/views/right_panel/RoomSummaryCard.tsx
  src/components/views/right_panel/UserInfo.tsx
  src/components/views/rooms/RoomHeader.tsx
  src/components/views/rooms/RoomInfoLine.tsx
  src/components/views/toasts/VerificationRequestToast.tsx
  src/stores/right-panel/RightPanelStore.ts
  src/stores/right-panel/RightPanelStoreIPanelState.ts
  src/stores/right-panel/RightPanelStorePhases.ts
  src/stores/right-panel/action-handlers/View3pidInvite.ts
  src/verification.ts
  test/unit-tests/components/structures/RightPanel-test.tsx
  test/unit-tests/components/views/right_panel/RoomSummaryCard-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
  test/unit-tests/components/views/rooms/PinnedMessageBanner-test.tsx
  test/unit-tests/components/views/rooms/RoomHeader-test.tsx
  test/unit-tests/stores/right-panel/RightPanelStore-test.ts
  test/unit-tests/stores/right-panel/action-handlers/View3pidInvite-test.ts
Owners: @element-hq/element-web-reviewers

Remove dead code around the archived room sublist
  src/components/views/context_menus/RoomGeneralContextMenu.tsx
  src/components/views/rooms/RoomList.tsx
  src/components/views/rooms/RoomTile.tsx
  src/stores/room-list/SlidingRoomListStore.ts
  src/stores/room-list/algorithms/Algorithm.ts
  src/stores/room-list/models.ts
  test/unit-tests/components/views/context_menus/RoomGeneralContextMenu-test.tsx
Owners: @element-hq/element-web-reviewers

Remove duplicates
  src/components/views/right_panel/UserInfo.tsx
  src/stores/right-panel/RightPanelStore.ts
Owners: @element-hq/element-web-reviewers

i18n
  src/i18n/strings/en_EN.json
Owners: none

Switch to using @fontsource for Inter & Inconsolata
  package.json
  res/fonts/Inconsolata/QldKNThLqRwH-OJ1UHjlKGlX5qhExfHwNJU.woff2
  res/fonts/Inconsolata/QldKNThLqRwH-OJ1UHjlKGlZ5qhExfHw.woff2
  res/fonts/Inconsolata/QldXNThLqRwH-OJ1UHjlKGHiw71n5_zaDpwm80E.woff2
  res/fonts/Inconsolata/QldXNThLqRwH-OJ1UHjlKGHiw71p5_zaDpwm.woff2
  res/fonts/Inter/Inter-Bold.woff
  res/fonts/Inter/Inter-Bold.woff2
  res/fonts/Inter/Inter-BoldItalic.woff
  res/fonts/Inter/Inter-BoldItalic.woff2
  res/fonts/Inter/Inter-Italic.woff
  res/fonts/Inter/Inter-Italic.woff2
  res/fonts/Inter/Inter-Medium.woff
  res/fonts/Inter/Inter-Medium.woff2
  res/fonts/Inter/Inter-MediumItalic.woff
  res/fonts/Inter/Inter-MediumItalic.woff2
  res/fonts/Inter/Inter-Regular.woff
  res/fonts/Inter/Inter-Regular.woff2
  res/fonts/Inter/Inter-SemiBold.woff
  res/fonts/Inter/Inter-SemiBold.woff2
  res/fonts/Inter/Inter-SemiBoldItalic.woff
  res/fonts/Inter/Inter-SemiBoldItalic.woff2
  res/themes/light/css/_fonts.pcss
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Remove unused font Open_Sans
  res/fonts/Open_Sans/LICENSE.txt
  res/fonts/Open_Sans/OpenSans-Bold.ttf
  res/fonts/Open_Sans/OpenSans-BoldItalic.ttf
  res/fonts/Open_Sans/OpenSans-Italic.ttf
  res/fonts/Open_Sans/OpenSans-Regular.ttf
  res/fonts/Open_Sans/OpenSans-Semibold.ttf
  res/fonts/Open_Sans/OpenSans-SemiboldItalic.ttf
Owners: @element-hq/element-web-reviewers

Switch to less broken imports
  res/themes/dark/css/dark.pcss
  res/themes/legacy-light/css/_fonts.pcss
  res/themes/light-high-contrast/css/light-high-contrast.pcss
  res/themes/light/css/_fonts.pcss
  res/themes/light/css/light.pcss
  src/theme.ts
Owners: @element-hq/element-web-reviewers

temporarily add a default branch to handle unknown shield codes
  src/components/views/rooms/EventTile.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none
