Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Fix tests
  test/unit-tests/components/structures/ThreadPanel-test.tsx
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/utils/login-test.ts
  test/unit-tests/vector/routing-test.ts
Owners: @element-hq/element-web-reviewers

Refactor signing out devices to handle React 18 Strict Mode
  src/components/views/settings/tabs/user/SessionManagerTab.tsx
Owners: @element-hq/element-web-reviewers

Update type and usage of window.matrixChat to be better React 18 friendly
  src/@types/global.d.ts
  src/utils/login.ts
  src/vector/init.tsx
  src/vector/routing.ts
  test/unit-tests/utils/login-test.ts
  test/unit-tests/vector/routing-test.ts
Owners: @element-hq/element-web-reviewers

Refactor TimelinePanel to avoid race conditions in React 18 between state updates
  src/components/structures/TimelinePanel.tsx
Owners: @element-hq/element-web-reviewers

handle rendering of invalid date errors
  src/components/views/messages/DateSeparator.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/messages/DateSeparator-test.tsx
  test/unit-tests/components/views/messages/__snapshots__/DateSeparator-test.tsx.snap
Owners: @element-hq/element-web-reviewers

lint
  src/components/views/messages/DateSeparator.tsx
  test/unit-tests/components/views/messages/DateSeparator-test.tsx
Owners: @element-hq/element-web-reviewers

lint
  src/components/views/messages/DateSeparator.tsx
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/vector/__snapshots__/init-test.ts.snap
  test/unit-tests/vector/init-test.ts
Owners: @element-hq/element-web-reviewers

Make modules import async to make the file testable
  src/vector/init.tsx
Owners: @element-hq/element-web-reviewers

Update matrix-js-sdk
  yarn.lock
Owners: @element-hq/element-web-team

Deduplicate icons using Compound Design Tokens
  res/css/_common.pcss
  res/css/components/views/settings/devices/_DeviceExpandDetailsButton.pcss
  res/css/structures/_GenericDropdownMenu.pcss
  res/css/structures/_RoomView.pcss
  res/css/structures/_SpaceHierarchy.pcss
  res/css/structures/_SpacePanel.pcss
  res/css/views/dialogs/_AnalyticsLearnMoreDialog.pcss
  res/css/views/elements/_Dropdown.pcss
  res/css/views/elements/_Field.pcss
  res/css/views/messages/_DateSeparator.pcss
  res/css/views/right_panel/_ThreadPanel.pcss
  res/css/views/right_panel/_UserInfo.pcss
  res/css/views/rooms/_LinkPreviewGroup.pcss
  res/css/views/rooms/_RoomListHeader.pcss
  res/css/views/rooms/_RoomSublist.pcss
  res/css/views/spaces/_SpaceCreateMenu.pcss
  res/css/views/voip/_CallView.pcss
  res/img/feather-customised/chevron-down.svg
  res/img/feather-customised/search-input.svg
  res/img/minimise.svg
  res/img/tick-circle.svg
  src/components/views/settings/devices/DeviceExpandDetailsButton.tsx
Owners: @element-hq/element-web-reviewers

Add mimetype checks
  jest.config.ts
  package.json
  playwright/e2e/widgets/stickers.spec.ts
  src/components/views/messages/MessageEvent.tsx
  test/unit-tests/components/views/messages/MessageEvent-test.tsx
  yarn.lock
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Update screenshots & snapshots
  playwright/snapshots/register/email.spec.ts/registration-check-your-email-linux.png
  playwright/snapshots/register/register.spec.ts/registration-linux.png
  playwright/snapshots/register/register.spec.ts/terms-prompt-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/appearance-tab-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  playwright/snapshots/settings/general-room-settings-tab.spec.ts/General-room-settings-tab-should-be-rendered-properly-1-linux.png
  playwright/snapshots/settings/preferences-user-settings-tab.spec.ts/Preferences-user-settings-tab-should-be-rendered-properly-1-linux.png
  playwright/snapshots/settings/security-user-settings-tab.spec.ts/Security-user-settings-tab-with-posthog-enable-b5d89-csLearnMoreDialog-should-be-rendered-properly-1-linux.png
  playwright/snapshots/spaces/threads-activity-centre/threadsActivityCentre.spec.ts/tac-hovered-linux.png
  test/unit-tests/components/views/settings/devices/__snapshots__/CurrentDeviceSection-test.tsx.snap
  test/unit-tests/components/views/settings/devices/__snapshots__/DeviceExpandDetailsButton-test.tsx.snap
  test/unit-tests/components/views/settings/tabs/user/__snapshots__/SessionManagerTab-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Let widget driver send error details (#28357)
  package.json
  src/stores/widgets/StopGapWidgetDriver.ts
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Deduplicate icons using Compound Design Tokens (#28419)
  playwright/snapshots/register/email.spec.ts/registration-check-your-email-linux.png
  playwright/snapshots/register/register.spec.ts/registration-linux.png
  playwright/snapshots/register/register.spec.ts/terms-prompt-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/appearance-tab-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  playwright/snapshots/settings/general-room-settings-tab.spec.ts/General-room-settings-tab-should-be-rendered-properly-1-linux.png
  playwright/snapshots/settings/preferences-user-settings-tab.spec.ts/Preferences-user-settings-tab-should-be-rendered-properly-1-linux.png
  playwright/snapshots/settings/security-user-settings-tab.spec.ts/Security-user-settings-tab-with-posthog-enable-b5d89-csLearnMoreDialog-should-be-rendered-properly-1-linux.png
  playwright/snapshots/spaces/threads-activity-centre/threadsActivityCentre.spec.ts/tac-hovered-linux.png
  res/css/_common.pcss
  res/css/components/views/settings/devices/_DeviceExpandDetailsButton.pcss
  res/css/structures/_GenericDropdownMenu.pcss
  res/css/structures/_RoomView.pcss
  res/css/structures/_SpaceHierarchy.pcss
  res/css/structures/_SpacePanel.pcss
  res/css/views/dialogs/_AnalyticsLearnMoreDialog.pcss
  res/css/views/elements/_Dropdown.pcss
  res/css/views/elements/_Field.pcss
  res/css/views/messages/_DateSeparator.pcss
  res/css/views/right_panel/_ThreadPanel.pcss
  res/css/views/right_panel/_UserInfo.pcss
  res/css/views/rooms/_LinkPreviewGroup.pcss
  res/css/views/rooms/_RoomListHeader.pcss
  res/css/views/rooms/_RoomSublist.pcss
  res/css/views/spaces/_SpaceCreateMenu.pcss
  res/css/views/voip/_CallView.pcss
  res/img/feather-customised/chevron-down.svg
  res/img/feather-customised/search-input.svg
  res/img/minimise.svg
  res/img/tick-circle.svg
  src/components/views/settings/devices/DeviceExpandDetailsButton.tsx
  test/unit-tests/components/views/settings/devices/__snapshots__/CurrentDeviceSection-test.tsx.snap
  test/unit-tests/components/views/settings/devices/__snapshots__/DeviceExpandDetailsButton-test.tsx.snap
  test/unit-tests/components/views/settings/tabs/user/__snapshots__/SessionManagerTab-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Make logic more DRY, simplify logic, improve naming.
  src/components/views/messages/MessageEvent.tsx
Owners: @element-hq/element-web-reviewers

Make case consistent
  src/components/views/messages/MessageEvent.tsx
Owners: @element-hq/element-web-reviewers

apply changes from review
  src/components/views/rooms/UserIdentityWarning.tsx
  test/unit-tests/components/views/rooms/UserIdentityWarning-test.tsx
Owners: @element-hq/element-web-reviewers

Only feed state events to widgets if we believe they update the state
  src/stores/widgets/StopGapWidget.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28424)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Upgrade dependency to matrix-js-sdk@34.11.1
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

v1.11.85
  CHANGELOG.md
  package.json
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Update search placeholder to Compound Design Token for placeholder text
  res/css/views/emojipicker/_EmojiPicker.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
Owners: @element-hq/element-web-reviewers

Upgrade dependency to matrix-js-sdk@34.12.0-rc.0
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

v1.11.86-rc.0
  package.json
Owners: @element-hq/element-web-team

update js sdk to matrix-js-sdk/element-call-nov-preview
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Catch error
  src/hooks/useIsEncrypted.ts
Owners: @element-hq/element-web-reviewers

Return `null` when computed
  src/hooks/useIsEncrypted.ts
Owners: @element-hq/element-web-reviewers

Pin posthog-js back due to https://github.com/PostHog/posthog-js/issues/1437
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Update supported browser test
  test/unit-tests/SupportedBrowser-test.ts
Owners: @element-hq/element-web-reviewers

Fix React 18 strict mode breaking spotlight search
  src/accessibility/RovingTabIndex.tsx
  src/accessibility/roving/RovingTabIndexWrapper.tsx
  test/unit-tests/accessibility/RovingTabIndex-test.tsx
Owners: @element-hq/element-web-reviewers

Make corresponding changes in consumers
  src/components/structures/SpaceHierarchy.tsx
  src/components/views/dialogs/ForwardDialog.tsx
  src/components/views/dialogs/spotlight/Option.tsx
  src/components/views/dialogs/spotlight/SpotlightDialog.tsx
  src/components/views/elements/Field.tsx
  src/components/views/elements/StyledCheckbox.tsx
  src/components/views/elements/StyledRadioButton.tsx
  src/components/views/emojipicker/EmojiPicker.tsx
  src/components/views/emojipicker/Search.tsx
  src/components/views/messages/JumpToDatePicker.tsx
Owners: @element-hq/element-web-reviewers

change initialisation status to a tri-state rather than a boolean
  src/components/views/rooms/UserIdentityWarning.tsx
Owners: @element-hq/element-web-reviewers

Update src/Modal.tsx
  src/Modal.tsx
Owners: @element-hq/element-web-reviewers

Use React Suspense when rendering async modals (#28386)
  src/AddThreepid.ts
  src/AsyncWrapper.tsx
  src/Modal.tsx
  src/SecurityManager.ts
  src/async-components/views/dialogs/security/NewRecoveryMethodDialog.tsx
  src/async-components/views/dialogs/security/RecoveryMethodRemovedDialog.tsx
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/LogoutDialog.tsx
  src/components/views/settings/CryptographyPanel.tsx
  src/components/views/settings/EventIndexPanel.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  test/unit-tests/SecurityManager-test.ts
  test/unit-tests/async-components/dialogs/security/RecoveryMethodRemovedDialog-test.tsx
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/views/dialogs/LogoutDialog-test.tsx
  test/unit-tests/components/views/settings/AddRemoveThreepids-test.tsx
  test/unit-tests/components/views/settings/CryptographyPanel-test.tsx
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Use `useRoomState` & `useAsyncMemo`
  src/hooks/useIsEncrypted.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change (#28454)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none
