Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Notify to resize the timeline when the pinned message banner is displayed or hidden (#28654)
  src/components/structures/RoomView.tsx
  src/components/views/rooms/PinnedMessageBanner.tsx
  test/unit-tests/components/views/rooms/PinnedMessageBanner-test.tsx
Owners: @element-hq/element-web-reviewers

Fix comment
  src/components/views/dialogs/security/InitialCryptoSetupDialog.tsx
Owners: @element-hq/element-crypto-web-reviewers

Convert to named export
  src/components/structures/auth/E2eSetup.tsx
  src/components/views/dialogs/security/InitialCryptoSetupDialog.tsx
  test/components/views/dialogs/security/InitialCryptoSetupDialog-test.tsx
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

add delay in test to allow Alice to fetch Bob's device keys
  playwright/e2e/crypto/user-verification.spec.ts
Owners: @element-hq/element-web-reviewers

Upgrade to React 19
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change
  src/i18n/strings/de_DE.json
  src/i18n/strings/en_EN.json
  src/i18n/strings/pl.json
Owners: none

[create-pull-request] automated change (#28669)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none
