Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Add spinner when room encryption is loading in room settings (#28535)
  src/components/views/settings/tabs/room/SecurityRoomSettingsTab.tsx
  test/unit-tests/components/views/settings/tabs/room/SecurityRoomSettingsTab-test.tsx
Owners: @element-hq/element-web-reviewers

Remove dead code
  src/components/views/audio_messages/DevicesContextMenu.tsx
  src/components/views/rooms/RoomTile.tsx
  src/hooks/useAudioDeviceSelection.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change (#28544)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Update snapshots
  test/unit-tests/components/structures/__snapshots__/UserMenu-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Update snapshot
  test/unit-tests/components/views/context_menus/__snapshots__/RoomGeneralContextMenu-test.tsx.snap
Owners: @element-hq/element-web-reviewers

2113 Change "Folk" to "Personer"
  src/i18n/strings/nb_NO.json
Owners: none

Remove Twemoji SBIX font in favour of COLRv0
  res/fonts/Twemoji_Mozilla/TwemojiMozilla-sbix.woff2
  res/themes/light/css/_fonts.pcss
  src/components/structures/LoggedInView.tsx
  src/components/views/verification/VerificationShowSas.tsx
  src/utils/FontManager.ts
Owners: @element-hq/element-web-reviewers

Remove unused mock
  __mocks__/FontManager.js
  jest.config.ts
Owners: @element-hq/element-web-reviewers

Update Twemoji COLRv0
  res/fonts/Twemoji_Mozilla/TwemojiMozilla-colr.woff2
  scripts/update-twemoji.sh
Owners: @element-hq/element-web-reviewers

Fix release workflow permissions
  .github/workflows/release.yml
Owners: @element-hq/element-web-team

Upgrade dependency to matrix-js-sdk@34.13.0-rc.0
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

v1.11.87-rc.0
  package.json
Owners: @element-hq/element-web-team

Apply release blocker checks to cut branches workflow
  .github/workflows/release_prepare.yml
Owners: @element-hq/element-web-team

Iterate
  .github/workflows/release_prepare.yml
Owners: @element-hq/element-web-team

Fix deploy action
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

temporarily add a default branch to handle unknown shield codes (#28543)
  src/components/views/rooms/EventTile.tsx
Owners: @element-hq/element-web-reviewers

v1.11.87-rc.1
  package.json
Owners: @element-hq/element-web-team

Remove Twemoji SBIX font in favour of COLRv0 (#28549)
  __mocks__/FontManager.js
  jest.config.ts
  res/fonts/Twemoji_Mozilla/TwemojiMozilla-sbix.woff2
  res/themes/light/css/_fonts.pcss
  src/components/structures/LoggedInView.tsx
  src/components/views/verification/VerificationShowSas.tsx
  src/utils/FontManager.ts
Owners: @element-hq/element-web-reviewers

GPG_FINGERPRINT is in vars not secrets
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

v1.11.87-rc.2
  package.json
Owners: @element-hq/element-web-team

Ask the user to open the mobile app before verifying
  src/i18n/strings/en_EN.json
Owners: none

Specify shell:bash in download-verify-element-tarball
  .github/actions/download-verify-element-tarball/action.yml
Owners: @element-hq/element-web-reviewers

v1.11.87-rc.3
  package.json
Owners: @element-hq/element-web-team

Fix current version checking function
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

v1.11.87-rc.4
  package.json
Owners: @element-hq/element-web-team

Fix download-verify-element-tarball not consuming inputs.tag
  .github/actions/download-verify-element-tarball/action.yml
Owners: @element-hq/element-web-reviewers

v1.11.87-rc.5
  package.json
Owners: @element-hq/element-web-team

We have to make the tar output directory manually
  .github/actions/download-verify-element-tarball/action.yml
Owners: @element-hq/element-web-reviewers

v1.11.87-rc.6
  package.json
Owners: @element-hq/element-web-team

Update e2eStatus and urlPreview when isRoomEncrypted is computed
  src/components/structures/RoomView.tsx
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/structures/__snapshots__/RoomView-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Add tests when user verification change
  test/unit-tests/components/structures/RoomView-test.tsx
Owners: @element-hq/element-web-reviewers

Fix e2e test
  playwright/e2e/crypto/decryption-failure-messages.spec.ts
Owners: @element-hq/element-web-reviewers

Fix running-workflow-name so it can self-detect
  .github/workflows/deploy.yml
Owners: @element-hq/element-web-team

v1.11.87-rc.7
  package.json
Owners: @element-hq/element-web-team

Show the correct shield status in tooltip for more conditions (#28476)
  playwright/e2e/crypto/event-shields.spec.ts
  src/components/views/rooms/EventTile.tsx
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

Reduced abusive timeout in e2e test
  playwright/e2e/crypto/decryption-failure-messages.spec.ts
Owners: @element-hq/element-web-reviewers

Initial work towards benchmarking bundle size over time
  .github/workflows/docs.yml
  .github/workflows/end-to-end-tests-netlify.yaml
  package.json
  scripts/benchmark-bundle.ts
  scripts/gen-workflow-mermaid.ts
  tsconfig.json
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Fix imports
  package.json
  src/utils/device/parseUserAgent.ts
  src/vector/platform/WebPlatform.ts
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Iterate
  jest.config.ts
  src/utils/permalinks/Permalinks.ts
Owners: @element-hq/element-web-reviewers

Change `GoToHome` keyboard shortcut to `Ctrl`–`Alt`/`Shift`–`H`
  src/accessibility/KeyboardShortcuts.ts
Owners: @element-hq/element-web-reviewers
