Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Make the version file part of webpack output
  .github/workflows/end-to-end-tests.yaml
  package.json
  scripts/docker-package.sh
  scripts/package.sh
  webpack.config.js
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Fix outputFile path for Windows compat
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Rework `UrlPreviewSettings` to use `MatrixClient.CryptoApi.isEncryptionEnabledInRoom`
  src/components/views/room_settings/UrlPreviewSettings.tsx
  src/components/views/settings/tabs/room/GeneralRoomSettingsTab.tsx
  test/unit-tests/components/views/room_settings/UrlPreviewSettings-test.tsx
  test/unit-tests/components/views/room_settings/__snapshots__/UrlPreviewSettings-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Add `asyncFilter`
  src/utils/arrays.ts
  test/unit-tests/utils/arrays-test.ts
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `MemberListStore.tsx`
  src/stores/MemberListStore.ts
  test/unit-tests/stores/MemberListStore-test.ts
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `EventIndex.tsx`
  src/indexing/EventIndex.ts
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `SendMessageComposer.tsx`
  src/components/views/rooms/SendMessageComposer.tsx
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `ScalarMessaging.ts`
  src/ScalarMessaging.ts
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `RolesRoomSettingsTab.tsx`
  src/components/views/settings/tabs/room/RolesRoomSettingsTab.tsx
Owners: @element-hq/element-web-reviewers

Check that the file the user chose has a MIME type of `image/*`
  src/components/views/elements/MiniAvatarUploader.tsx
  src/components/views/settings/AvatarSetting.tsx
  src/i18n/strings/en_EN.json
Owners: @element-hq/element-web-reviewers

i18n
  src/i18n/strings/en_EN.json
Owners: none

Optional
  src/components/views/settings/AvatarSetting.tsx
Owners: @element-hq/element-web-reviewers

fix more race conditions, and apply changes from review
  src/components/views/rooms/UserIdentityWarning.tsx
  test/unit-tests/components/views/rooms/UserIdentityWarning-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28470)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Make the version file part of webpack output (#28461)
  .github/workflows/end-to-end-tests.yaml
  package.json
  scripts/docker-package.sh
  scripts/package.sh
  webpack.config.js
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Allow tab completing users in brackets (#28460)
  src/autocomplete/UserProvider.tsx
  src/editor/autocomplete.ts
  src/editor/model.ts
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/components/views/settings/AvatarSetting-test.tsx
Owners: @element-hq/element-web-reviewers

Upgrade to compound-design-tokens v2
  package.json
  res/css/views/emojipicker/_EmojiPicker.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
  res/themes/dark/css/_dark.pcss
  res/themes/legacy-dark/css/_legacy-dark.pcss
  res/themes/legacy-light/css/_legacy-light.pcss
  res/themes/light/css/_light.pcss
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Upgrade compound to fix Search component placeholder colour
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Fix download button size in message action bar
  res/css/views/messages/_MessageActionBar.pcss
Owners: @element-hq/element-web-reviewers

DRY
  src/components/views/elements/MiniAvatarUploader.tsx
  src/components/views/settings/AvatarSetting.tsx
  test/unit-tests/components/views/settings/AvatarSetting-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/settings/AvatarSetting.tsx
Owners: @element-hq/element-web-reviewers

Add feature flag for searchInAllRooms
  src/components/views/rooms/SearchBar.tsx
  src/settings/Settings.tsx
  src/settings/UIFeature.ts
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/components/views/elements/MiniAvatarUploader-test.tsx
Owners: @element-hq/element-web-reviewers

Fix download button size in message action bar (#28472)
  res/css/views/messages/_MessageActionBar.pcss
Owners: @element-hq/element-web-reviewers

Upgrade to compound-design-tokens v2 (#28471)
  package.json
  res/css/views/emojipicker/_EmojiPicker.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
  res/themes/dark/css/_dark.pcss
  res/themes/legacy-dark/css/_legacy-dark.pcss
  res/themes/legacy-light/css/_legacy-light.pcss
  res/themes/light/css/_light.pcss
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

eslint
  src/components/views/rooms/SearchBar.tsx
Owners: @element-hq/element-web-reviewers

Enable stylelint rule no-unknown-custom-properties
  .stylelintrc.js
  package.json
  res/css/views/audio_messages/_PlaybackContainer.pcss
  res/css/views/audio_messages/_SeekBar.pcss
  res/css/views/rooms/_BasicMessageComposer.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
  yarn.lock
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Fix cpd css vars
  res/css/components/views/elements/_AppPermission.pcss
  res/css/structures/_SpaceRoomView.pcss
Owners: @element-hq/element-web-reviewers

Remove dead styling
  res/css/structures/_RoomView.pcss
  res/css/views/rooms/_EventTile.pcss
Owners: @element-hq/element-web-reviewers

skip non-crucial tests
  test/components/views/dialogs/InviteDialog-test.tsx
Owners: @element-hq/element-web-reviewers

Remove invalid css
  res/css/views/elements/_ProgressBar.pcss
Owners: @element-hq/element-web-reviewers

Fix comments
  res/css/views/audio_messages/_PlaybackContainer.pcss
  res/css/views/audio_messages/_SeekBar.pcss
  res/css/views/rooms/_BasicMessageComposer.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
Owners: @element-hq/element-web-reviewers

Clean up the OpenSans license file (#28353)
  res/fonts/Open_Sans/LICENSE.txt
Owners: @element-hq/element-web-reviewers

Fix matrix-widget-api version in package.json
  yarn.lock
Owners: @element-hq/element-web-team

Fix matrix-widget-api version in package.json (#28453)
  yarn.lock
Owners: @element-hq/element-web-team

Add support for new shield codes in JS SDK
  playwright/e2e/crypto/event-shields.spec.ts
  src/components/views/rooms/EventTile.tsx
  src/i18n/strings/en_EN.json
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

Add e2e test for detailed poll results
  playwright/e2e/polls/polls.spec.ts
  src/components/views/dialogs/PollResultsDialog.tsx
Owners: @element-hq/element-web-reviewers

Start sending stable `m.marked_unread` events
  src/utils/notifications.ts
Owners: @element-hq/element-web-reviewers
