Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

Fix settings header
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/appearance-tab-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  src/components/views/settings/shared/SettingsSubsection.tsx
  src/components/views/settings/shared/SettingsSubsectionHeading.tsx
Owners: @element-hq/element-web-reviewers

Localazy Download (#28629)
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

Display an empty pinned message banner when loading
  src/components/views/rooms/PinnedMessageBanner.tsx
  src/hooks/usePinnedEvents.ts
Owners: @element-hq/element-web-reviewers

Fix gap between subsection
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  res/css/components/views/settings/shared/_SettingsSubsection.pcss
Owners: @element-hq/element-web-reviewers

Update tests
  test/unit-tests/components/views/settings/__snapshots__/LayoutSwitcher-test.tsx.snap
  test/unit-tests/components/views/settings/__snapshots__/ThemeChoicePanel-test.tsx.snap
  test/unit-tests/components/views/settings/tabs/user/__snapshots__/AppearanceUserSettingsTab-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Update e2e tests
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/appearance-tab-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-added-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-removed-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-dark-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-light-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-match-system-enabled-linux.png
Owners: @element-hq/element-web-reviewers

Remove usages of Buffer
  .eslintrc.js
  src/@types/png-chunks-extract.d.ts
  src/components/views/auth/LoginWithQR.tsx
  src/stores/ThreepidInviteStore.ts
  src/utils/WidgetUtils.ts
  src/utils/exportUtils/HtmlExport.tsx
Owners: @element-hq/element-web-reviewers

Update snapshots
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-added-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-removed-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-dark-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-light-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-match-system-enabled-linux.png
Owners: @element-hq/element-web-reviewers

increase ringing timeout from 10 seconds to 90 seconds
  src/Notifier.ts
Owners: @element-hq/element-web-reviewers

increase max age of incoming notify event to 15 seconds which triggers a call ringingn notification/toast
  src/Notifier.ts
Owners: @element-hq/element-web-reviewers

increase ringing timeout from 10 seconds to 90 seconds
  src/toasts/IncomingCallToast.tsx
Owners: @element-hq/element-web-reviewers

Fix font & spaces in settings subsection (#28631)
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-added-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-custom-theme-removed-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-dark-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-light-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/theme-choice-panel.spec.ts/theme-panel-match-system-enabled-linux.png
  res/css/components/views/settings/shared/_SettingsSubsection.pcss
  src/components/views/settings/shared/SettingsSubsection.tsx
  src/components/views/settings/shared/SettingsSubsectionHeading.tsx
  test/unit-tests/components/views/settings/__snapshots__/LayoutSwitcher-test.tsx.snap
  test/unit-tests/components/views/settings/__snapshots__/ThemeChoicePanel-test.tsx.snap
  test/unit-tests/components/views/settings/tabs/user/__snapshots__/AppearanceUserSettingsTab-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Playwright: improve failure report when an unexpected shield exists
  playwright/e2e/crypto/event-shields.spec.ts
Owners: @element-hq/element-web-reviewers

Playwright: fix (hopefully) flaky shields test
  playwright/e2e/crypto/event-shields.spec.ts
Owners: @element-hq/element-web-reviewers

increase ringing timeout from 10 seconds to 90 seconds (#28630)
  src/Notifier.ts
  src/toasts/IncomingCallToast.tsx
Owners: @element-hq/element-web-reviewers

Playwright: fix (hopefully) flaky shields test (#28641)
  playwright/e2e/crypto/event-shields.spec.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28646)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Add mergequeue tag to read-receipts tests and skip running them on PR commits
  .github/workflows/end-to-end-tests.yaml
  docs/playwright.md
  playwright/e2e/read-receipts/editing-messages-in-threads.spec.ts
  playwright/e2e/read-receipts/editing-messages-main-timeline.spec.ts
  playwright/e2e/read-receipts/editing-messages-thread-roots.spec.ts
  playwright/e2e/read-receipts/high-level.spec.ts
  playwright/e2e/read-receipts/message-ordering.spec.ts
  playwright/e2e/read-receipts/missing-referents.spec.ts
  playwright/e2e/read-receipts/new-messages-in-threads.spec.ts
  playwright/e2e/read-receipts/new-messages-main-timeline.spec.ts
  playwright/e2e/read-receipts/new-messages-thread-roots.spec.ts
  playwright/e2e/read-receipts/notifications.spec.ts
  playwright/e2e/read-receipts/reactions-in-threads.spec.ts
  playwright/e2e/read-receipts/reactions-main-timeline.spec.ts
  playwright/e2e/read-receipts/reactions-thread-roots.spec.ts
  playwright/e2e/read-receipts/read-receipts.spec.ts
  playwright/e2e/read-receipts/redactions-in-threads.spec.ts
  playwright/e2e/read-receipts/redactions-main-timeline.spec.ts
  playwright/e2e/read-receipts/redactions-thread-roots.spec.ts
  playwright/e2e/read-receipts/room-list-order.spec.ts
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Remove stale webpack configuration
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Switch to React18 useId
  src/components/views/settings/AvatarSetting.tsx
  src/components/views/settings/UserProfileSettings.tsx
  src/utils/useId.ts
Owners: @element-hq/element-web-reviewers

Enable react-compiler eslint
  .eslintrc.js
  package.json
  yarn.lock
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Fix an easy one
  src/components/views/elements/EffectsOverlay.tsx
Owners: @element-hq/element-web-reviewers

Disable in tests
  .eslintrc.js
Owners: @element-hq/element-web-reviewers

Fix usage of useRef as memoization
  src/components/structures/RoomSearchView.tsx
  src/components/views/rooms/wysiwyg_composer/EditWysiwygComposer.tsx
  src/components/views/rooms/wysiwyg_composer/SendWysiwygComposer.tsx
  src/components/views/settings/ThemeChoicePanel.tsx
  src/contexts/ToastContext.tsx
Owners: @element-hq/element-web-reviewers

Fix mutation of external values in hooks
  src/components/views/settings/tabs/room/VoipRoomSettingsTab.tsx
Owners: @element-hq/element-web-reviewers

Make React compiler happy about some frankly non-issues
  src/components/views/spaces/QuickThemeSwitcher.tsx
  src/components/views/spaces/threads-activity-centre/useUnreadThreadRooms.ts
  src/utils/location/useMap.ts
Owners: @element-hq/element-web-reviewers

Fix MapMock
  __mocks__/maplibre-gl.js
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/settings/tabs/room/VoipRoomSettingsTab.tsx
Owners: @element-hq/element-web-reviewers

Notify to resize the timeline when the pinned message banner is displayed or hidden
  src/components/structures/RoomView.tsx
  src/components/views/rooms/PinnedMessageBanner.tsx
  test/unit-tests/components/views/rooms/PinnedMessageBanner-test.tsx
Owners: @element-hq/element-web-reviewers

Fix canUploadKeysWithPasswordOnly for MSC3967
  src/CreateCrossSigning.ts
Owners: @element-hq/element-web-reviewers

Switch to React18 useId (#28651)
  src/components/views/settings/AvatarSetting.tsx
  src/components/views/settings/UserProfileSettings.tsx
  src/utils/useId.ts
Owners: @element-hq/element-web-reviewers

Add mergequeue tag to read-receipts tests and skip running them on PR commits (#28648)
  .github/workflows/end-to-end-tests.yaml
  docs/playwright.md
  playwright/e2e/read-receipts/editing-messages-in-threads.spec.ts
  playwright/e2e/read-receipts/editing-messages-main-timeline.spec.ts
  playwright/e2e/read-receipts/editing-messages-thread-roots.spec.ts
  playwright/e2e/read-receipts/high-level.spec.ts
  playwright/e2e/read-receipts/message-ordering.spec.ts
  playwright/e2e/read-receipts/missing-referents.spec.ts
  playwright/e2e/read-receipts/new-messages-in-threads.spec.ts
  playwright/e2e/read-receipts/new-messages-main-timeline.spec.ts
  playwright/e2e/read-receipts/new-messages-thread-roots.spec.ts
  playwright/e2e/read-receipts/notifications.spec.ts
  playwright/e2e/read-receipts/reactions-in-threads.spec.ts
  playwright/e2e/read-receipts/reactions-main-timeline.spec.ts
  playwright/e2e/read-receipts/reactions-thread-roots.spec.ts
  playwright/e2e/read-receipts/read-receipts.spec.ts
  playwright/e2e/read-receipts/redactions-in-threads.spec.ts
  playwright/e2e/read-receipts/redactions-main-timeline.spec.ts
  playwright/e2e/read-receipts/redactions-thread-roots.spec.ts
  playwright/e2e/read-receipts/room-list-order.spec.ts
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Remove stale webpack configuration (#28649)
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Fix multiple pinned messages flacky tests by waiting the message to be displayed in the banner when pinned.
  playwright/e2e/pinned-messages/index.ts
Owners: @element-hq/element-web-reviewers

Fix multiple pinned messages flacky tests by waiting the message to be displayed in the banner when pinned. (#28655)
  playwright/e2e/pinned-messages/index.ts
Owners: @element-hq/element-web-reviewers

Rename CreateCrossSigningDialog to InitialCryptoSetup
  src/components/structures/auth/E2eSetup.tsx
  src/components/views/dialogs/security/InitialCryptoSetup.tsx
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

Fix name & tests
  src/components/structures/auth/E2eSetup.tsx
  src/components/views/dialogs/security/InitialCryptoSetupDialog.tsx
  test/components/views/dialogs/security/InitialCryptoSetupDialog-test.tsx
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

Fix import
  src/components/structures/auth/E2eSetup.tsx
Owners: @element-hq/element-web-reviewers

Remove code creating key backup
  src/components/views/dialogs/security/InitialCryptoSetupDialog.tsx
Owners: @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
