Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

[create-pull-request] automated change (#28495)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Fix wrong JSON syntax
  config.sample.json
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/dialogs/security/CreateSecretStorageDialog-test.tsx
  test/unit-tests/components/views/messages/EncryptionEvent-test.tsx
Owners: @element-hq/element-web-reviewers

Consider `org.matrix.msc3417.call` as video room in create room dialog
  src/components/views/dialogs/CreateRoomDialog.tsx
Owners: @element-hq/element-web-reviewers

Remove usage of legacyRoot in RTL tests
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/structures/TimelinePanel-test.tsx
  test/unit-tests/components/structures/auth/ForgotPassword-test.tsx
  test/unit-tests/components/views/messages/DateSeparator-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
  test/unit-tests/components/views/rooms/MessageComposer-test.tsx
  test/unit-tests/components/views/settings/JoinRuleSettings-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/structures/MatrixChat-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/structures/auth/ForgotPassword.tsx
  test/unit-tests/components/structures/auth/ForgotPassword-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
Owners: @element-hq/element-web-reviewers

Filter out redacted poll votes to avoid crashing the Poll widget
  src/components/views/messages/MPollBody.tsx
Owners: @element-hq/element-web-reviewers

Second batch: Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` (#28466)
  src/ScalarMessaging.ts
  src/components/views/settings/tabs/room/RolesRoomSettingsTab.tsx
  src/indexing/EventIndex.ts
  src/stores/MemberListStore.ts
  src/utils/arrays.ts
  test/unit-tests/components/views/settings/tabs/room/RolesRoomSettingsTab-test.tsx
  test/unit-tests/stores/MemberListStore-test.ts
  test/unit-tests/utils/arrays-test.ts
Owners: @element-hq/element-web-reviewers

Fix source maps in production builds
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Tighten GITHUB_TOKEN permissions
  .github/workflows/backport.yml
  .github/workflows/build.yml
  .github/workflows/build_debian.yaml
  .github/workflows/build_develop.yml
  .github/workflows/dockerhub.yaml
  .github/workflows/docs.yml
  .github/workflows/end-to-end-tests-netlify.yaml
  .github/workflows/end-to-end-tests.yaml
  .github/workflows/issue_closed.yml
  .github/workflows/localazy_download.yaml
  .github/workflows/localazy_upload.yaml
  .github/workflows/netlify.yaml
  .github/workflows/pending-reviews.yaml
  .github/workflows/playwright-image-updates.yaml
  .github/workflows/pull_request.yaml
  .github/workflows/pull_request_base_branch.yaml
  .github/workflows/release-drafter.yml
  .github/workflows/release-gitflow.yml
  .github/workflows/release.yml
  .github/workflows/release_prepare.yml
  .github/workflows/sonarqube.yml
  .github/workflows/static_analysis.yaml
  .github/workflows/sync-labels.yml
  .github/workflows/tests.yml
  .github/workflows/triage-assigned.yml
  .github/workflows/triage-incoming.yml
  .github/workflows/triage-labelled.yml
  .github/workflows/triage-move-review-requests.yml
  .github/workflows/triage-stale-flaky-tests.yml
  .github/workflows/triage-unlabelled.yml
  .github/workflows/update-jitsi.yml
  .github/workflows/update-topics.yaml
Owners: @element-hq/element-web-team

Don't crash the build when trying to docker-package from a shallow clone of a commit
  scripts/docker-package.sh
Owners: @element-hq/element-web-reviewers

Iterate
  .github/workflows/static_analysis.yaml
Owners: @element-hq/element-web-team

Remove outdated comment
  src/components/views/rooms/UserIdentityWarning.tsx
Owners: @element-hq/element-web-reviewers

Fix source maps in production builds (#28499)
  webpack.config.js
Owners: @element-hq/element-web-reviewers

Update `@vector-im/compound-web` to have `InlineSpinner`
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Fix force tab complete not working since switching to React 18 createRoot API
  src/components/views/rooms/Autocomplete.tsx
Owners: @element-hq/element-web-reviewers

Use `InlineSpinner` instead of a loading text.
  src/components/views/room_settings/UrlPreviewSettings.tsx
  test/unit-tests/components/views/room_settings/__snapshots__/UrlPreviewSettings-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Rework `UrlPreviewSettings` to use `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` (#28463)
  package.json
  src/components/views/room_settings/UrlPreviewSettings.tsx
  src/components/views/settings/tabs/room/GeneralRoomSettingsTab.tsx
  test/unit-tests/components/views/room_settings/UrlPreviewSettings-test.tsx
  test/unit-tests/components/views/room_settings/__snapshots__/UrlPreviewSettings-test.tsx.snap
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/messages/MPollEndBody-test.tsx
Owners: @element-hq/element-web-reviewers

Remove usage of legacyRoot in RTL tests (#28485)
  src/components/structures/auth/ForgotPassword.tsx
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/structures/TimelinePanel-test.tsx
  test/unit-tests/components/structures/auth/ForgotPassword-test.tsx
  test/unit-tests/components/views/messages/DateSeparator-test.tsx
  test/unit-tests/components/views/messages/MPollEndBody-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
  test/unit-tests/components/views/rooms/MessageComposer-test.tsx
  test/unit-tests/components/views/settings/JoinRuleSettings-test.tsx
Owners: @element-hq/element-web-reviewers

Fix force tab complete not working since switching to React 18 createRoot API (#28505)
  src/components/views/rooms/Autocomplete.tsx
Owners: @element-hq/element-web-reviewers

Filter out redacted poll votes to avoid crashing the Poll widget (#28498)
  src/components/views/messages/MPollBody.tsx
Owners: @element-hq/element-web-reviewers

Consider `org.matrix.msc3417.call` as video room in create room dialog (#28497)
  src/components/views/dialogs/CreateRoomDialog.tsx
Owners: @element-hq/element-web-reviewers

Swap out Twitter link for Mastodon on auth footer
  src/components/views/auth/AuthFooter.tsx
Owners: @element-hq/element-web-reviewers

Update snapshots & screenshots
  playwright/snapshots/register/email.spec.ts/registration-check-your-email-linux.png
  playwright/snapshots/register/register.spec.ts/email-prompt-linux.png
  playwright/snapshots/register/register.spec.ts/registration-linux.png
  playwright/snapshots/register/register.spec.ts/terms-prompt-linux.png
  test/unit-tests/components/structures/__snapshots__/MatrixChat-test.tsx.snap
  test/unit-tests/components/views/auth/__snapshots__/AuthFooter-test.tsx.snap
  test/unit-tests/components/views/auth/__snapshots__/AuthPage-test.tsx.snap
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28509)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Add `Z-Flaky-Jest-Test` label
  .github/labels.yml
Owners: @element-hq/element-web-reviewers

Add `Z-Flaky-Jest-Test` label (#28512)
  .github/labels.yml
Owners: @element-hq/element-web-reviewers

Swap out Twitter link for Mastodon on auth footer (#28508)
  playwright/snapshots/register/email.spec.ts/registration-check-your-email-linux.png
  playwright/snapshots/register/register.spec.ts/email-prompt-linux.png
  playwright/snapshots/register/register.spec.ts/registration-linux.png
  playwright/snapshots/register/register.spec.ts/terms-prompt-linux.png
  src/components/views/auth/AuthFooter.tsx
  test/unit-tests/components/structures/__snapshots__/MatrixChat-test.tsx.snap
  test/unit-tests/components/views/auth/__snapshots__/AuthFooter-test.tsx.snap
  test/unit-tests/components/views/auth/__snapshots__/AuthPage-test.tsx.snap
Owners: @element-hq/element-web-reviewers

PoC implementation for is_animated m.image flag
  src/@types/matrix-js-sdk.d.ts
  src/ContentMessages.ts
  src/components/views/messages/MImageBody.tsx
  src/utils/image-media.ts
Owners: @element-hq/element-web-reviewers

Update MSC reference
  src/@types/matrix-js-sdk.d.ts
  src/ContentMessages.ts
  src/components/views/messages/MImageBody.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/messages/MImageBody.tsx
Owners: @element-hq/element-web-reviewers

Fix permission
  .github/workflows/tests.yml
Owners: @element-hq/element-web-team

Use `CryptoApi.getKeyBackupInfo` instead of deprecated `MatrixClient.getKeyBackupVersion`
  src/DeviceListener.ts
  src/async-components/views/dialogs/security/CreateSecretStorageDialog.tsx
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/LogoutDialog.tsx
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  src/stores/SetupEncryptionStore.ts
  test/test-utils/client.ts
  test/test-utils/test-utils.ts
  test/unit-tests/DeviceListener-test.ts
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/views/dialogs/LogoutDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/CreateSecretStorageDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/RestoreKeyBackupDialog-test.tsx
  test/unit-tests/components/views/settings/SecureBackupPanel-test.tsx
  test/unit-tests/components/views/settings/tabs/user/SecurityUserSettingsTab-test.tsx
  test/unit-tests/stores/SetupEncryptionStore-test.ts
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

Switch away from deprecated github-status-action
  .github/workflows/tests.yml
Owners: @element-hq/element-web-team

Fix perms
  .github/workflows/pull_request.yaml
Owners: @element-hq/element-web-team

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `EventTile.tsx`
  src/components/views/rooms/EventTile.tsx
  test/test-utils/test-utils.ts
  test/unit-tests/components/views/dialogs/ForwardDialog-test.tsx
  test/unit-tests/components/views/rooms/EventTile-test.tsx
Owners: @element-hq/element-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
