Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

Enable enable_authenticated_media in Playwright tests
  playwright/plugins/homeserver/synapse/templates/default/homeserver.yaml
Owners: @element-hq/element-web-reviewers

Add comment
  src/utils/react.tsx
Owners: @element-hq/element-web-reviewers

Switch secondary React trees to the createRoot API (#28296)
  src/components/views/elements/PersistedElement.tsx
  src/components/views/messages/EditHistoryMessage.tsx
  src/components/views/messages/TextualBody.tsx
  src/utils/exportUtils/HtmlExport.tsx
  src/utils/pillify.tsx
  src/utils/react.tsx
  src/utils/tooltipify.tsx
  test/test-utils/utilities.ts
  test/unit-tests/components/views/messages/MPollBody-test.tsx
  test/unit-tests/components/views/settings/JoinRuleSettings-test.tsx
  test/unit-tests/components/views/settings/SecureBackupPanel-test.tsx
  test/unit-tests/utils/pillify-test.tsx
  test/unit-tests/utils/tooltipify-test.tsx
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/SecurityManager-test.ts
  test/unit-tests/components/views/settings/AddRemoveThreepids-test.tsx
Owners: @element-hq/element-web-reviewers

Ignore `m.3pid_changes` for Identity service 3PID changes (#28375)
  src/components/views/settings/discovery/DiscoverySettings.tsx
Owners: @element-hq/element-web-reviewers

Add feature flag: UIFeature.AllowDirectUserInvite
  src/settings/Settings.tsx
  src/settings/UIFeature.ts
Owners: @element-hq/element-web-reviewers

Update calls to addEventToTimeline and addLiveEvents for new signature
  src/components/structures/FilePanel.tsx
  src/indexing/EventIndex.ts
  src/utils/dm/createDmLocalRoom.ts
  test/test-utils/call.ts
  test/test-utils/threads.ts
  test/unit-tests/Notifier-test.ts
  test/unit-tests/RoomNotifs-test.ts
  test/unit-tests/Unread-test.ts
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/structures/ThreadPanel-test.tsx
  test/unit-tests/components/structures/TimelinePanel-test.tsx
  test/unit-tests/components/views/context_menus/RoomGeneralContextMenu-test.tsx
  test/unit-tests/components/views/dialogs/InviteDialog-test.tsx
  test/unit-tests/components/views/elements/Pill-test.tsx
  test/unit-tests/components/views/elements/RoomTopic-test.tsx
  test/unit-tests/components/views/rooms/NotificationBadge/UnreadNotificationBadge-test.tsx
  test/unit-tests/components/views/rooms/RoomHeader-test.tsx
  test/unit-tests/components/views/settings/Notifications-test.tsx
  test/unit-tests/components/views/settings/notifications/Notifications2-test.tsx
  test/unit-tests/events/EventTileFactory-test.ts
  test/unit-tests/models/Call-test.ts
  test/unit-tests/stores/MemberListStore-test.ts
  test/unit-tests/stores/RoomViewStore-test.ts
  test/unit-tests/stores/room-list/MessagePreviewStore-test.ts
  test/unit-tests/stores/room-list/algorithms/RecentAlgorithm-test.ts
  test/unit-tests/stores/room-list/previews/ReactionEventPreview-test.ts
  test/unit-tests/useTopic-test.tsx
  test/unit-tests/utils/exportUtils/HTMLExport-test.ts
  test/unit-tests/utils/notifications-test.ts
  test/unit-tests/voice-broadcast/components/VoiceBroadcastBody-test.tsx
  test/unit-tests/voice-broadcast/models/VoiceBroadcastPlayback-test.tsx
  test/unit-tests/voice-broadcast/utils/hasRoomLiveVoiceBroadcast-test.ts
  test/unit-tests/voice-broadcast/utils/isRelatedToVoiceBroadcast-test.ts
  test/unit-tests/voice-broadcast/utils/retrieveStartedInfoEvent-test.ts
Owners: @element-hq/element-web-reviewers

Auto approvoce `io.element.call.reaction` capability for element call widgets
  src/stores/widgets/StopGapWidgetDriver.ts
Owners: @element-hq/element-web-reviewers

Auto approvoce `io.element.call.reaction` capability for element call widgets (#28401)
  src/stores/widgets/StopGapWidgetDriver.ts
Owners: @element-hq/element-web-reviewers

reset cross-signing before backup when resetting both
  src/SecurityManager.ts
  src/async-components/views/dialogs/security/CreateSecretStorageDialog.tsx
  src/components/views/dialogs/security/AccessSecretStorageDialog.tsx
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  src/stores/SetupEncryptionStore.ts
  test/unit-tests/components/views/dialogs/security/CreateSecretStorageDialog-test.tsx
  test/unit-tests/stores/SetupEncryptionStore-test.ts
Owners: @element-hq/element-crypto-web-reviewers, @element-hq/element-web-reviewers

use Crypto API to determine if room is encrypted
  src/components/views/rooms/UserIdentityWarning.tsx
  test/unit-tests/components/views/rooms/UserIdentityWarning-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28403)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Deduplicate icons using Compound Design Tokens (#28381)
  playwright/snapshots/forgot-password/forgot-password.spec.ts/forgot-password-verify-email-linux.png
  res/css/structures/_RoomStatusBar.pcss
  res/css/structures/_SpaceHierarchy.pcss
  res/css/views/context_menus/_MessageContextMenu.pcss
  res/css/views/dialogs/_AddExistingToSpaceDialog.pcss
  res/css/views/dialogs/security/_AccessSecretStorageDialog.pcss
  res/css/views/elements/_InfoTooltip.pcss
  res/css/views/messages/_MessageActionBar.pcss
  res/css/views/rooms/_EntityTile.pcss
  res/css/views/rooms/_ThreadSummary.pcss
  res/img/compound/chevron-right-12px.svg
  res/img/compound/retry-16px.svg
  res/img/element-icons/retry.svg
  res/img/element-icons/warning-badge.svg
  res/img/element-icons/warning.svg
  res/img/member_chevron.png
  src/components/structures/auth/forgot-password/CheckEmail.tsx
  src/components/structures/auth/forgot-password/VerifyEmailModal.tsx
  src/components/views/dialogs/AddExistingToSpaceDialog.tsx
  src/components/views/dialogs/ModalWidgetDialog.tsx
  src/components/views/location/MapError.tsx
  src/components/views/messages/MessageActionBar.tsx
  test/unit-tests/components/views/location/__snapshots__/MapError-test.tsx.snap
  test/unit-tests/components/views/messages/__snapshots__/MBeaconBody-test.tsx.snap
  test/unit-tests/img/edit.png
  test/unit-tests/img/icon_context_message.svg
Owners: @element-hq/element-web-reviewers

Handle authenticated media when downloading from ImageView (#28379)
  src/components/views/elements/ImageView.tsx
  test/unit-tests/components/views/elements/ImageView-test.tsx
Owners: @element-hq/element-web-reviewers

Enable enable_authenticated_media in Playwright tests (#28395)
  playwright/plugins/homeserver/synapse/templates/default/homeserver.yaml
Owners: @element-hq/element-web-reviewers

Remove reply fallbacks as per merged MSC2781
  src/ContentMessages.ts
  src/components/views/rooms/MessageComposer.tsx
  src/components/views/rooms/SendMessageComposer.tsx
  src/components/views/rooms/VoiceRecordComposerTile.tsx
  src/components/views/rooms/wysiwyg_composer/utils/createMessageContent.ts
  src/components/views/rooms/wysiwyg_composer/utils/message.ts
  src/utils/Reply.ts
  test/unit-tests/Notifier-test.ts
  test/unit-tests/Reply-test.ts
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
  test/unit-tests/components/views/rooms/VoiceRecordComposerTile-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/createMessageContent-test.ts
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/message-test.ts
Owners: @element-hq/element-web-reviewers

Update tests
  test/unit-tests/__snapshots__/Reply-test.ts.snap
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/createMessageContent-test.ts
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/message-test.ts
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
Owners: @element-hq/element-web-reviewers

Use new `CrytoApi.restoreKeyBackup` & `CrytoApi.restoreKeyBackupFromPassprhase` api
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
Owners: @element-hq/element-crypto-web-reviewers

add test for AccessSecretStorageDialog
  test/unit-tests/components/views/dialogs/AccessSecretStorageDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/CreateSecretStorageDialog-test.tsx
Owners: @element-hq/element-web-reviewers

Refactor feeding of events to widgets
  src/stores/widgets/StopGapWidget.ts
Owners: @element-hq/element-web-reviewers

Feed events to widgets as they are decrypted (even if out of order)
  src/stores/widgets/StopGapWidget.ts
  test/unit-tests/stores/widgets/StopGapWidget-test.ts
Owners: @element-hq/element-web-reviewers

listen to events so that encryption icon updates when status changes
  src/hooks/useEncryptionStatus.ts
  test/unit-tests/components/views/rooms/RoomHeader-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change
  src/i18n/strings/fr.json
Owners: none

[create-pull-request] automated change (#28409)
  src/i18n/strings/fr.json
Owners: none

[create-pull-request] automated change (#28408)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Use new `CrytoApi.restoreKeyBackup` api in `SetupEncryptionStore`
  src/stores/SetupEncryptionStore.ts
Owners: @element-hq/element-crypto-web-reviewers

Add braces to if
  src/stores/widgets/StopGapWidget.ts
Owners: @element-hq/element-web-reviewers

Feed events to widgets as they are decrypted (even if out of order) (#28376)
  src/stores/widgets/StopGapWidget.ts
  test/unit-tests/stores/widgets/StopGapWidget-test.ts
Owners: @element-hq/element-web-reviewers

remove debugging message
  src/hooks/useEncryptionStatus.ts
Owners: @element-hq/element-web-reviewers

Add tests to `RestoreKeyBackupDialog`
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  test/test-utils/test-utils.ts
  test/unit-tests/components/views/dialogs/security/RestoreKeyBackupDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/__snapshots__/RestoreKeyBackupDialog-test.tsx.snap
Owners: @element-hq/element-crypto-web-reviewers, @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/components/structures/FilePanel-test.tsx
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28411)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Let widget driver send error details
  src/stores/widgets/StopGapWidgetDriver.ts
Owners: @element-hq/element-web-reviewers

Match new widget API types
  src/stores/widgets/StopGapWidgetDriver.ts
Owners: @element-hq/element-web-reviewers

Don't @link across packages
  src/stores/widgets/StopGapWidgetDriver.ts
Owners: @element-hq/element-web-reviewers

Update matrix-widget-api
  package.json
  yarn.lock
Owners: @element-hq/element-web-team
