Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28377)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Handle authenticated media when downloading from ImageView
  src/components/views/elements/ImageView.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/elements/ImageView.tsx
  test/unit-tests/components/views/elements/ImageView-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/elements/ImageView-test.tsx
Owners: @element-hq/element-web-reviewers

Deduplicate icons using Compound Design Tokens
  res/css/structures/_RoomStatusBar.pcss
  res/css/structures/_SpaceHierarchy.pcss
  res/css/views/context_menus/_MessageContextMenu.pcss
  res/css/views/dialogs/_AddExistingToSpaceDialog.pcss
  res/css/views/dialogs/security/_AccessSecretStorageDialog.pcss
  res/css/views/elements/_InfoTooltip.pcss
  res/css/views/messages/_MessageActionBar.pcss
  res/css/views/rooms/_EntityTile.pcss
  res/css/views/rooms/_ThreadSummary.pcss
  res/img/compound/chevron-right-12px.svg
  res/img/compound/retry-16px.svg
  res/img/element-icons/retry.svg
  res/img/element-icons/warning-badge.svg
  res/img/element-icons/warning.svg
  res/img/member_chevron.png
  src/components/structures/auth/forgot-password/CheckEmail.tsx
  src/components/structures/auth/forgot-password/VerifyEmailModal.tsx
  src/components/views/dialogs/AddExistingToSpaceDialog.tsx
  src/components/views/dialogs/ModalWidgetDialog.tsx
  src/components/views/location/MapError.tsx
  src/components/views/messages/MessageActionBar.tsx
Owners: @element-hq/element-web-reviewers

Remove unused test images
  test/unit-tests/img/edit.png
  test/unit-tests/img/icon_context_message.svg
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/elements/ImageView.tsx
  test/unit-tests/components/views/elements/ImageView-test.tsx
Owners: @element-hq/element-web-reviewers

Update snapshots & screenshots
  playwright/snapshots/forgot-password/forgot-password.spec.ts/forgot-password-verify-email-linux.png
  test/unit-tests/components/views/location/__snapshots__/MapError-test.tsx.snap
  test/unit-tests/components/views/messages/__snapshots__/MBeaconBody-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Iterate
  test/unit-tests/components/views/elements/ImageView-test.tsx
Owners: @element-hq/element-web-reviewers

Move navigator message listener registration to be synchronously attached (#28340)
  src/vector/platform/WebPlatform.ts
Owners: @element-hq/element-web-reviewers

Iterate
  src/components/views/rooms/EventPreview.tsx
  src/components/views/rooms/EventTile.tsx
  src/components/views/rooms/PinnedMessageBanner.tsx
Owners: @element-hq/element-web-reviewers

Show message type prefix in thread root & reply previews (#28361)
  res/css/_components.pcss
  res/css/views/rooms/_EventPreview.pcss
  res/css/views/rooms/_PinnedMessageBanner.pcss
  src/components/views/rooms/EventPreview.tsx
  src/components/views/rooms/EventTile.tsx
  src/components/views/rooms/PinnedMessageBanner.tsx
  src/components/views/rooms/ThreadSummary.tsx
  src/i18n/strings/en_EN.json
  test/test-utils/threads.ts
  test/unit-tests/components/views/rooms/PinnedMessageBanner-test.tsx
  test/unit-tests/components/views/rooms/__snapshots__/PinnedMessageBanner-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Upgrade dependency to matrix-js-sdk@34.10.0
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

v1.11.84
  CHANGELOG.md
  package.json
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Reset matrix-js-sdk back to develop branch
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Fix post release docker check
  .github/workflows/release.yml
Owners: @element-hq/element-web-team

Remove redundant `switch_package_to_release` call
  .github/workflows/static_analysis.yaml
Owners: @element-hq/element-web-team

Flatten Vector-override components (#28346)
  components.json
  src/BasePlatform.ts
  src/components/views/auth/AuthFooter.tsx
  src/components/views/auth/AuthHeaderLogo.tsx
  src/components/views/auth/AuthPage.tsx
  src/components/views/auth/VectorAuthFooter.tsx
  src/components/views/auth/VectorAuthHeaderLogo.tsx
  src/components/views/auth/VectorAuthPage.tsx
  src/i18n/strings/en_EN.json
  src/vector/app.tsx
  src/vector/platform/ElectronPlatform.tsx
  src/vector/platform/VectorBasePlatform.ts
  src/vector/platform/WebPlatform.ts
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/structures/__snapshots__/MatrixChat-test.tsx.snap
  test/unit-tests/components/views/auth/AuthFooter-test.tsx
  test/unit-tests/components/views/auth/AuthHeaderLogo-test.tsx
  test/unit-tests/components/views/auth/AuthPage-test.tsx
  test/unit-tests/components/views/auth/VectorAuthFooter-test.tsx
  test/unit-tests/components/views/auth/__snapshots__/AuthFooter-test.tsx.snap
  test/unit-tests/components/views/auth/__snapshots__/AuthHeaderLogo-test.tsx.snap
  test/unit-tests/components/views/auth/__snapshots__/AuthPage-test.tsx.snap
  test/unit-tests/vector/platform/WebPlatform-test.ts
Owners: @element-hq/element-web-reviewers

Remove redundant `switch_package_to_release` call (#28384)
  .github/workflows/static_analysis.yaml
Owners: @element-hq/element-web-team

Use React Suspense when rendering async modals
  src/AddThreepid.ts
  src/AsyncWrapper.tsx
  src/Modal.tsx
  src/SecurityManager.ts
  src/async-components/views/dialogs/security/NewRecoveryMethodDialog.tsx
  src/async-components/views/dialogs/security/RecoveryMethodRemovedDialog.tsx
  src/components/structures/MatrixChat.tsx
  src/components/views/dialogs/LogoutDialog.tsx
  src/components/views/settings/CryptographyPanel.tsx
  src/components/views/settings/EventIndexPanel.tsx
  src/components/views/settings/SecureBackupPanel.tsx
  test/unit-tests/components/structures/MatrixChat-test.tsx
Owners: @element-hq/element-web-reviewers, @element-hq/element-crypto-web-reviewers

Remove unused dependencies
  package.json
Owners: @element-hq/element-web-team

Delete empty unused files
  src/components/views/avatars/MemberStatusMessageAvatar.tsx
  src/components/views/dialogs/devtools/VerificationExplorer.tsx
Owners: @element-hq/element-web-reviewers

Simplify eslint configs
  .eslintrc-module_system.js
  .eslintrc.js
  .lintstagedrc
  package.json
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

Remove unused enums
  src/components/views/rooms/E2EIcon.tsx
  src/components/views/spaces/SpaceCreateMenu.tsx
  src/dispatcher/actions.ts
  src/performance/entry-names.ts
Owners: @element-hq/element-web-reviewers

Remove unused mocks
  __mocks__/maplibre-gl.js
Owners: @element-hq/element-web-reviewers

Remove unused types & imports
  src/@types/common.ts
  src/BlurhashEncoder.ts
  src/PlaybackEncoder.ts
  src/vector/indexeddb-worker.ts
  test/unit-tests/components/structures/RightPanel-test.tsx
  test/unit-tests/components/structures/UploadBar-test.tsx
  test/unit-tests/components/views/elements/AppTile-test.tsx
Owners: @element-hq/element-web-reviewers

Avoid use of transitive deps
  src/sentry.ts
  test/test-utils/poll.ts
Owners: @element-hq/element-web-reviewers

Avoid double exports
  src/components/structures/BackdropPanel.tsx
  src/components/structures/LoggedInView.tsx
  src/components/structures/RoomView.tsx
  src/components/views/dialogs/SpacePreferencesDialog.tsx
  src/components/views/location/LocationButton.tsx
  src/components/views/location/index.tsx
  src/components/views/settings/CryptographyPanel.tsx
  src/components/views/settings/FontScalingPanel.tsx
  src/components/views/settings/ImageSizePanel.tsx
  src/components/views/settings/LayoutSwitcher.tsx
  src/components/views/settings/Notifications.tsx
  src/components/views/settings/ThemeChoicePanel.tsx
  src/components/views/settings/UserPersonalInfoSettings.tsx
  src/components/views/settings/devices/CurrentDeviceSection.tsx
  src/components/views/settings/devices/LoginWithQRSection.tsx
  src/components/views/settings/devices/SecurityRecommendations.tsx
  src/components/views/settings/discovery/DiscoverySettings.tsx
  src/components/views/settings/notifications/NotificationPusherSettings.tsx
  src/components/views/settings/notifications/NotificationSettings2.tsx
  src/components/views/settings/shared/SettingsSubsection.tsx
  src/components/views/settings/tabs/room/AdvancedRoomSettingsTab.tsx
  src/components/views/settings/tabs/room/GeneralRoomSettingsTab.tsx
  src/components/views/settings/tabs/room/NotificationSettingsTab.tsx
  src/components/views/settings/tabs/room/VoipRoomSettingsTab.tsx
  src/components/views/settings/tabs/user/AccountUserSettingsTab.tsx
  src/components/views/settings/tabs/user/AppearanceUserSettingsTab.tsx
  src/components/views/settings/tabs/user/HelpUserSettingsTab.tsx
  src/components/views/settings/tabs/user/KeyboardUserSettingsTab.tsx
  src/components/views/settings/tabs/user/LabsUserSettingsTab.tsx
  src/components/views/settings/tabs/user/MjolnirUserSettingsTab.tsx
  src/components/views/settings/tabs/user/PreferencesUserSettingsTab.tsx
  src/components/views/settings/tabs/user/SecurityUserSettingsTab.tsx
  src/components/views/settings/tabs/user/SessionManagerTab.tsx
  src/components/views/settings/tabs/user/SidebarUserSettingsTab.tsx
  src/components/views/settings/tabs/user/VoiceUserSettingsTab.tsx
  src/components/views/spaces/SpaceSettingsGeneralTab.tsx
  src/dispatcher/dispatcher.ts
  test/unit-tests/components/views/settings/discovery/DiscoverySettings-test.tsx
  test/unit-tests/components/views/settings/shared/SettingsSubsection-test.tsx
  test/unit-tests/stores/BreadcrumbsStore-test.ts
Owners: @element-hq/element-web-reviewers

Install knip to keep the codebase in check
  .github/workflows/static_analysis.yaml
  .stylelintrc.js
  knip.ts
  package.json
  yarn.lock
Owners: @element-hq/element-web-team, @element-hq/element-web-reviewers

Fix test
  test/unit-tests/components/structures/MatrixChat-test.tsx
Owners: @element-hq/element-web-reviewers

Iterate workflow
  .github/workflows/static_analysis.yaml
Owners: @element-hq/element-web-team

Iterate
  knip.ts
  package.json
  src/Modal.tsx
  src/components/structures/RoomView.tsx
  src/components/views/beacon/RoomCallBanner.tsx
  src/components/views/messages/MessageActionBar.tsx
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/views/elements/AppTile-test.tsx
  yarn.lock
Owners: @element-hq/element-web-reviewers, @element-hq/element-web-team

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

[create-pull-request] automated change (#28392)
  src/i18n/strings/cs.json
  src/i18n/strings/de_DE.json
  src/i18n/strings/el.json
  src/i18n/strings/eo.json
  src/i18n/strings/es.json
  src/i18n/strings/et.json
  src/i18n/strings/fa.json
  src/i18n/strings/fi.json
  src/i18n/strings/fr.json
  src/i18n/strings/gl.json
  src/i18n/strings/he.json
  src/i18n/strings/hu.json
  src/i18n/strings/id.json
  src/i18n/strings/is.json
  src/i18n/strings/it.json
  src/i18n/strings/ja.json
  src/i18n/strings/lo.json
  src/i18n/strings/lt.json
  src/i18n/strings/nl.json
  src/i18n/strings/pl.json
  src/i18n/strings/pt_BR.json
  src/i18n/strings/ru.json
  src/i18n/strings/sk.json
  src/i18n/strings/sq.json
  src/i18n/strings/sv.json
  src/i18n/strings/uk.json
  src/i18n/strings/vi.json
  src/i18n/strings/zh_Hans.json
  src/i18n/strings/zh_Hant.json
Owners: none

Add back maplibre-gl.js
  __mocks__/maplibre-gl.js
  knip.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change (#28391)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Improve coverage
  test/unit-tests/components/structures/MatrixChat-test.tsx
  test/unit-tests/components/views/dialogs/LogoutDialog-test.tsx
  test/unit-tests/components/views/settings/CryptographyPanel-test.tsx
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/async-components/dialogs/security/RecoveryMethodRemovedDialog-test.tsx
  test/unit-tests/components/views/settings/AddRemoveThreepids-test.tsx
Owners: @element-hq/element-web-reviewers
