Repository element-hq/element-web, changes with the owners that .github/CODEOWNERS names for each.
All owners: @element-hq/element-web-reviewers, @element-hq/element-web-team, @element-hq/element-crypto-web-reviewers

Update snapshots
  test/unit-tests/components/views/dialogs/__snapshots__/DevtoolsDialog-test.tsx.snap
  test/unit-tests/components/views/elements/__snapshots__/AppTile-test.tsx.snap
  test/unit-tests/components/views/elements/__snapshots__/ImageView-test.tsx.snap
  test/unit-tests/components/views/location/__snapshots__/LocationViewDialog-test.tsx.snap
Owners: @element-hq/element-web-reviewers

Use new `CrytoApi.restoreKeyBackup` & `CrytoApi.restoreKeyBackupFromPassphrase` api (#28385)
  src/components/views/dialogs/security/RestoreKeyBackupDialog.tsx
  src/stores/SetupEncryptionStore.ts
  test/test-utils/test-utils.ts
  test/unit-tests/components/views/dialogs/security/RestoreKeyBackupDialog-test.tsx
  test/unit-tests/components/views/dialogs/security/__snapshots__/RestoreKeyBackupDialog-test.tsx.snap
Owners: @element-hq/element-crypto-web-reviewers, @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `useIsEncrypted` (#28282)
  src/hooks/useIsEncrypted.ts
  test/unit-tests/components/views/right_panel/RoomSummaryCard-test.tsx
  test/unit-tests/components/views/right_panel/UserInfo-test.tsx
Owners: @element-hq/element-web-reviewers

2080 Translations in web client when inviting
  src/i18n/strings/en_EN.json
  src/i18n/strings/nb_NO.json
Owners: none

Update test
  playwright/e2e/threads/threads.spec.ts
Owners: @element-hq/element-web-reviewers

Update end-to-end-tests.yaml
  .github/workflows/end-to-end-tests.yaml
Owners: @element-hq/element-web-team

Just use one ref prop in Field.tsx
  src/components/views/elements/Field.tsx
  src/components/views/messages/JumpToDatePicker.tsx
Owners: @element-hq/element-web-reviewers

Update screenshot
  playwright/snapshots/threads/threads.spec.ts/Reply-to-the-location-on-ThreadView-linux.png
Owners: @element-hq/element-web-reviewers

Fix EmojiPicker.tsx
  src/components/views/emojipicker/EmojiPicker.tsx
Owners: @element-hq/element-web-reviewers

Use ref from hook
  src/components/views/spaces/SpaceTreeLevel.tsx
Owners: @element-hq/element-web-reviewers

Use RefCallback type
  src/accessibility/RovingTabIndex.tsx
  src/accessibility/roving/RovingTabIndexWrapper.tsx
  src/components/views/elements/StyledCheckbox.tsx
  src/components/views/elements/StyledRadioButton.tsx
Owners: @element-hq/element-web-reviewers

Upgrade bloom-filters to be able to remove @types/seedrandom
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Refactor TimelinePanel to avoid race conditions in React 18 between state updates (#28416)
  src/components/structures/TimelinePanel.tsx
Owners: @element-hq/element-web-reviewers

Refactor signing out devices to handle React 18 Strict Mode (#28414)
  src/components/views/settings/tabs/user/SessionManagerTab.tsx
Owners: @element-hq/element-web-reviewers

Remove reply fallbacks as per merged MSC2781 (#28406)
  src/ContentMessages.ts
  src/components/views/rooms/MessageComposer.tsx
  src/components/views/rooms/SendMessageComposer.tsx
  src/components/views/rooms/VoiceRecordComposerTile.tsx
  src/components/views/rooms/wysiwyg_composer/utils/createMessageContent.ts
  src/components/views/rooms/wysiwyg_composer/utils/message.ts
  src/utils/Reply.ts
  test/unit-tests/Notifier-test.ts
  test/unit-tests/Reply-test.ts
  test/unit-tests/__snapshots__/Reply-test.ts.snap
  test/unit-tests/components/views/rooms/SendMessageComposer-test.tsx
  test/unit-tests/components/views/rooms/VoiceRecordComposerTile-test.tsx
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/createMessageContent-test.ts
  test/unit-tests/components/views/rooms/wysiwyg_composer/utils/message-test.ts
Owners: @element-hq/element-web-reviewers

Update type and usage of window.matrixChat to be better React 18 friendly (#28415)
  src/@types/global.d.ts
  src/utils/login.ts
  src/vector/init.tsx
  src/vector/routing.ts
  test/unit-tests/utils/login-test.ts
  test/unit-tests/vector/__snapshots__/init-test.ts.snap
  test/unit-tests/vector/init-test.ts
  test/unit-tests/vector/routing-test.ts
Owners: @element-hq/element-web-reviewers

Update screenshots
  playwright/snapshots/register/register.spec.ts/use-case-selection-linux.png
  playwright/snapshots/settings/appearance-user-settings-tab/appearance-user-settings-tab.spec.ts/window-12px-linux.png
  playwright/snapshots/settings/general-room-settings-tab.spec.ts/General-room-settings-tab-should-be-rendered-properly-1-linux.png
  playwright/snapshots/spaces/threads-activity-centre/threadsActivityCentre.spec.ts/tac-hovered-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-and-messages-irc-layout-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-emote-irc-layout-linux.png
Owners: @element-hq/element-web-reviewers

Add test to ensure ref argument to hook works
  test/unit-tests/accessibility/RovingTabIndex-test.tsx
Owners: @element-hq/element-web-reviewers

Update snapshots
  test/unit-tests/components/views/settings/__snapshots__/AddRemoveThreepids-test.tsx.snap
  test/unit-tests/vector/__snapshots__/init-test.ts.snap
Owners: @element-hq/element-web-reviewers

Use Ref type to accept both types of ref
  src/components/views/elements/Field.tsx
  src/components/views/elements/StyledCheckbox.tsx
  src/components/views/elements/StyledRadioButton.tsx
Owners: @element-hq/element-web-reviewers

Remove type cast
  src/accessibility/RovingTabIndex.tsx
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `EncryptionEvent.tsx`
  src/components/views/messages/EncryptionEvent.tsx
  test/unit-tests/components/structures/RoomView-test.tsx
  test/unit-tests/components/views/messages/EncryptionEvent-test.tsx
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `ReportEventDialog.tsx`
  src/components/views/dialogs/ReportEventDialog.tsx
Owners: @element-hq/element-web-reviewers

Replace `MatrixClient.isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `RoomNotifications.tsx`
  src/components/views/dialogs/devtools/RoomNotifications.tsx
Owners: @element-hq/element-web-reviewers

Fix MessagePanel-test.tsx
  test/test-utils/client.ts
  test/unit-tests/components/structures/MessagePanel-test.tsx
Owners: @element-hq/element-web-reviewers

ReplaceReplace `MatrixCient..isRoomEncrypted` by `MatrixClient.CryptoApi.isEncryptionEnabledInRoom` in `shouldSkipSetupEncryption.ts`
  src/components/structures/MatrixChat.tsx
  src/utils/crypto/shouldSkipSetupEncryption.ts
  test/unit-tests/components/structures/MatrixChat-test.tsx
Owners: @element-hq/element-web-reviewers

Update screenshots
  playwright/snapshots/timeline/timeline.spec.ts/collapsed-gels-bubble-layout-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-bubble-layout-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-emote-irc-layout-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-redaction-placeholder-linux.png
Owners: @element-hq/element-web-reviewers

Improve coverage
  test/unit-tests/vector/init-test.ts
Owners: @element-hq/element-web-reviewers

[create-pull-request] automated change
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

[create-pull-request] automated change (#28457)
  playwright/plugins/homeserver/synapse/index.ts
Owners: none

Add missing `await`
  src/Searching.ts
Owners: @element-hq/element-web-reviewers

Wrap up new release workflows (#26546)
  release_config.yaml
Owners: @element-hq/element-web-reviewers

Update search placeholder to Compound Design Token for placeholder text (#28427)
  res/css/views/emojipicker/_EmojiPicker.pcss
  res/css/views/rooms/wysiwyg_composer/components/_Editor.pcss
Owners: @element-hq/element-web-reviewers

Upgrade bloom-filters to be able to remove @types/seedrandom (#28455)
  package.json
  yarn.lock
Owners: @element-hq/element-web-team

Use `Promise.any` instead of `asyncSome`
  src/DeviceListener.ts
  src/utils/crypto/shouldSkipSetupEncryption.ts
Owners: @element-hq/element-web-reviewers

Update screenshots
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-and-messages-irc-layout-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-emote-irc-layout-linux.png
  playwright/snapshots/timeline/timeline.spec.ts/expanded-gels-redaction-placeholder-linux.png
Owners: @element-hq/element-web-reviewers

Add `asyncSomeParallel`
  src/utils/arrays.ts
  test/unit-tests/utils/arrays-test.ts
Owners: @element-hq/element-web-reviewers

Use `asyncSomeParallel` instead of `asyncSome`
  src/DeviceListener.ts
  src/utils/crypto/shouldSkipSetupEncryption.ts
Owners: @element-hq/element-web-reviewers

Allow tab completing users in brackets
  src/autocomplete/UserProvider.tsx
Owners: @element-hq/element-web-reviewers

Account for range offsets when tab completing to not replace unrelated characters
  src/editor/autocomplete.ts
  src/editor/model.ts
Owners: @element-hq/element-web-reviewers

.github/CODEOWNERS:

*                         @element-hq/element-web-reviewers
/.github/workflows/**     @element-hq/element-web-team
/package.json             @element-hq/element-web-team
/yarn.lock                @element-hq/element-web-team

/src/SecurityManager.ts                           @element-hq/element-crypto-web-reviewers
/test/SecurityManager-test.ts                     @element-hq/element-crypto-web-reviewers
/src/async-components/views/dialogs/security/     @element-hq/element-crypto-web-reviewers
/src/components/views/dialogs/security/           @element-hq/element-crypto-web-reviewers
/test/components/views/dialogs/security/          @element-hq/element-crypto-web-reviewers
/src/stores/SetupEncryptionStore.ts               @element-hq/element-crypto-web-reviewers
/test/stores/SetupEncryptionStore-test.ts         @element-hq/element-crypto-web-reviewers

# Ignore translations as those will be updated by GHA for Localazy download
/src/i18n/strings
# Ignore the synapse plugin as this is updated by GHA for docker image updating
/playwright/plugins/homeserver/synapse/index.ts
